{% extends 'base_app.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans 'My expenditures' %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        {% trans 'My expenditures' %}
    </h1>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Event' %}</th>
                <th>{% trans 'Amount spent' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for e in events %}
            <tr>
                <td>{{ e.starts_at|date:"l d F" }}</td>
                <td>{{ e.name }}</td>
                <td>&euro; {{ e.spent|floatformat:2 }}</td>
                <td><a href="{% url 'apps.profile.views.expenditures_event' e.pk %}" class="btn btn-xs btn-default">Details</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">{% trans 'There are no expenditures!' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<p class="text-center">
    {% if events.has_previous %}<a href="?page={{ events.previous_page_number }}">&laquo;</a>{% else %}&laquo;{% endif %}
    {% trans 'Page' %} {{ events.number }} {% trans 'of' %} {{ events.paginator.num_pages }}
    {% if events.has_next     %}<a href="?page={{ events.next_page_number }}">&raquo;</a>{%     else %}&raquo;{% endif %}
</p>
{% endblock %}
