{% extends 'base_app.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans 'My payments' %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        {% blocktrans %}My payments at {{ event }}{% endblocktrans %}
    </h1>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans 'Timestamp' %}</th>
                <th>{% trans 'Amount' %}</th>
                <th>{% trans 'Handled by' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for o in orders %}
            <tr>
                <td>{{ o.placed_at|date:"l d F H:i" }}</td>
                <td>&euro; {{ o.amount|floatformat:2 }}</td>
                <td>{{ o.added_by.get_full_name }}</td>
                <td><a href="{% url 'apps.billing.views.payment_show' o.pk %}" class="btn btn-xs btn-default">Details</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">{% trans 'There are no payments!' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<p class="text-center">
    {% if orders.has_previous %}<a href="?page={{ orders.previous_page_number }}">&laquo;</a>{% else %}&laquo;{% endif %}
    {% trans 'Page' %} {{ orders.number }} {% trans 'of' %} {{ orders.paginator.num_pages }}
    {% if orders.has_next     %}<a href="?page={{ orders.next_page_number }}">&raquo;</a>{%     else %}&raquo;{% endif %}
</p>
{% endblock %}
