{% extends 'base_app.html' %}
{% load i18n %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ user.get_full_name }}</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
        <div class="well">
            <dl class="dl-vertical">
                <dt>{% trans 'RADIUS username' %}</dt>
                <dd>{{ radius_username|default:"&mdash;" }}</dd>
                <dt>{% trans 'Email address' %} <a href="{% url 'edit-profile' %}">({% trans 'edit' %})</a></dt>
                <dd>{{ user.email }}</dd>
            </dl>
        </div>
        <table class="table table-bordered">
            <tr class="tr-muted"><th>{% trans 'Stats' %}</th></tr>
            <tr><td class="text-right"><strong class="pull-left">{% trans 'Transactions' %}</strong> {{ order_count }}</td></tr>
            <tr><td class="text-right"><strong class="pull-left">{% trans 'Events attended' %}</strong> {{ event_count }}</td></tr>
            {% if user.profile.is_tender %}<tr><td class="text-right"><strong class="pull-left">{% trans 'Tended' %}</strong> {{ user.profile.tended_count }}</td></tr>{% endif %}
        </table>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#billing" data-toggle="tab">{% trans 'Billing' %}</a></li>
            {% if user.profile.is_tender %}<li><a href="#bartender" data-toggle="tab">{% trans 'Bartender' %}</a></li>{% endif %}
        </ul>
        <div class="tab-content" id="tabContent">
            <div class="tab-pane active" id="billing">
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <h4>{% trans 'Events' %}</h4>
                        <p>
                            {% trans 'These are the last 5 events you attended.' %}
                            <a href="{% url 'expenditures-profile' %}">{% trans 'See all' %}...</a>
                        </p>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-md-6">{% trans 'Event' %}</th>
                                    <th class="col-md-3">{% trans 'Spent' %}</th>
                                    <th class="col-md-3"></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for e in events %}
                                <tr>
                                    <td class="overflow-protect">{{ e.name }}</td>
                                    <td>&euro; {{ e.spent|floatformat:2 }}</td>
                                    <td><a href="{% url 'event-expenditures-profile' e.pk %}" class="btn btn-xs btn-default">Details</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <h4>{% trans 'RFID cards' %}</h4>
                        <p>{% trans 'This is an overview of RFID cards linked to your account.' %}</p>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{% trans 'ID number' %}</th>
                                    <th>{% trans 'Active' %}</th>
                                    <th>{% trans 'Sinds' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rfid_card in user.rfids.all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ rfid_card.identifier }}</td>
                                    <td>
                                    {% if rfid_card.is_active %}
                                        {% trans 'Yes' %}
                                    {% else %}
                                        {% trans 'No' %}
                                    {% endif %}
                                    </td>
                                    <td>{{ rfid_card.registered_at|default:"&mdash;" }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">{% trans "You don't have any registered RFID cards." %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <h4>{% trans 'Share' %}</h4>
                        <p>{% trans 'The percentage of sales which you are responsible for.' %}</p>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>{% trans 'Organization' %}</th>
                                    <th>{% trans 'Share' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for share in shares %}
                                <tr>
                                    <td>{{ share.organization }}</td>
                                    <td>{{ share.percentage }}%</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if user.profile.is_tender %}
            <div class="tab-pane" id="bartender">
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <h4>{% trans 'Autorization' %}</h4>
                        <p>{% trans 'The following roles are assigned to you. Contact the organization in question for more details.' %}</p>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{% trans 'Organization' %}</th>
                                    <th>{% trans 'Roles' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for membership in user.membership_set.all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ membership.organization }}</td>
                                    <td>
                                        {% if membership.is_tender %}<span class="label label-default">{% trans 'Bartender' %}</span>{% endif %}
                                        {% if membership.is_planner %}<span class="label label-default">{% trans 'Planner' %}</span>{% endif %}
                                        {% if membership.is_manager %}<span class="label label-default">{% trans 'Manager' %}</span>{% endif %}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="3">{% trans "You don't have any authorizations" %}<td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <h4>{% trans 'iCal bartender agenda' %}</h4>
                        {% if user.profile.ical_id %}
                        <a href="{% url 'ical' user.profile.ical_id %}">{% trans 'This is the location of your personal bartender iCal.' %}</a>
                        {% endif %}
                        <a href="{% url 'ical-gen-profile' %}" class="btn btn-xs btn-default">{% trans 'Generate new' %}</a>
                        <hr>
                        <h4>
                            {% trans 'IVA certificate' %}
                            <a href="{% url 'iva-profile' %}" class="btn btn-primary pull-right">{% trans 'Manage certificate' %}</a>
                        </h4>
                        <dl class="dl-horizontal">
                            <dt>{% trans 'Uploaded' %}</dt>
                            <dd>{{ user.certificate.uploaded_at|default:"&mdash;" }}</dd>

                            {% if user.certificate %}
                            <dt>{% trans 'Approved' %}</dt>
                            <dd>{{ user.certificate.approved_at|default:"&mdash;" }}</dd>

                            <dt>{% trans 'Certificate' %}</dt>
                            <dd><a href="{% url 'view-iva-profile' %}" target="_blank">{% trans 'view' %}</a></dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
