{% extends 'base_app.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans 'My expenditures' %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        {% trans 'My expenditures' %}
    </h1>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Event' %}</th>
                <th>{% trans 'Amount spent' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for e in event_list %}
            <tr>
                <td>{{ e.starts_at|date:"l d F" }}</td>
                <td><a href="{% url 'event-expenditures-profile' e.pk %}">{{ e.name }}</a></td>
                <td>&euro; {{ e.spent|floatformat:2 }}</td>
                <td><a href="{% url 'event-expenditures-profile' e.pk %}" class="btn btn-xs btn-default">Details</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">{% trans 'There are no expenditures!' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include 'partials/pagination.html' %}
{% endblock %}
