{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans with organization=request.organization.name %}Users of {{ organization }}{% endblocktrans %}{% endblock %}

{% block body %}
<div class="page-header">
    <h1>
        {% blocktrans with organization=request.organization.name %}Tenders of {{ organization }}{% endblocktrans %}
    </h1>
</div>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Authorization' %}</th>
            <th>{% trans 'IVA' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for membership in memberships %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'membership' membership.pk %}">{{ membership.user.get_full_name }}</a></td>
            <td>
                {% if membership.is_tender %}<span class="label label-default">{% trans 'Bartender' %}</span>{% endif %}
                {% if membership.is_planner %}<span class="label label-default">{% trans 'Planner' %}</span>{% endif %}
                {% if membership.is_manager %}<span class="label label-default">{% trans 'Manager' %}</span>{% endif %}
            </td>
            <td>
                {% if membership.user.profile.has_iva %}
                <i class="icon-alexia-ok"></i>
                {% else %}
                <i class="icon-alexia-notok"></i>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">{% trans 'There are no users' %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
window.print();
</script>
{% endblock %}
