{% extends 'base_app.html' %}

{% block title %}{% blocktrans with organization=request.organization.name %}Users of {{ organization }}{% endblocktrans %}{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>
        {% blocktrans with organization=current_organization %}Users of {{ organization }}{% endblocktrans %}
        <div class="pull-right">
            <a href="{% url 'new-membership' %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans 'Add user' %}
            </a>
            <a href="{% url 'iva-memberships' %}" target="_blank" class="btn btn-default" data-print="#iva-list">
                <span class="glyphicon glyphicon-print"></span>
                {% trans 'Print IVA list' %}
            </a>
        </div>
    </h1>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Authorization' %}</th>
                <th>{% trans 'Active' %}</th>
                <th>{% trans 'IVA' %}</th>
                <th>{% trans 'Tended' %}</th>
                <th>{% trans 'Last tended' %}</th>
                <th>{% trans 'Latest login' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for membership in membership_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'membership' membership.pk %}">{{ membership.user.get_full_name }}</a>
                    {% if membership.user.profile.nickname %}
                    <small>({{ membership.user.profile.nickname }})</small>
                    {% endif %}
                </td>
                <td>
                    {% if membership.is_tender %}<span class="label label-default">{% trans 'Bartender' %}</span>{% endif %}
                    {% if membership.is_planner %}<span class="label label-default">{% trans 'Planner' %}</span>{% endif %}
                    {% if membership.is_manager %}<span class="label label-default">{% trans 'Manager' %}</span>{% endif %}
                </td>
                <td>
                    <span class="icon-alexia-{% if not membership.is_active %}not{% endif %}ok"></span>
                </td>
                <td>
                    {% if membership.user.profile.has_iva %}
                    {% if membership.user.profile.is_iva %}
                    <a href="#" title="{% trans 'Manual approved' %}"><i class="icon-alexia-ok"></i></a>
                    {% else %}
                    <a href="{% url 'iva-membership' membership.pk %}" title="{% trans 'Approved by' %} {{ membership.user.certificate.approved_by.get_full_name }} ({{ membership.user.certificate.approved_at }})"><i class="icon-alexia-ok"></i><i class="icon-alexia-pdf"></i></a>
                    {% endif %}
                    {% else %}
                    {% if membership.user.certificate %}
                    <i class="icon-alexia-attention"></i>
                    <a href="{% url 'iva-membership' membership.pk %}"><i class="icon-alexia-pdf"></i></a>
                    <a href="{% url 'approve-iva-membership' membership.pk %}" title="{% trans 'Approve' %}"><i class="icon-alexia-ok"></i></a>
                    <a href="{% url 'decline-iva-membership' membership.pk %}" title="{% trans 'Decline' %}"><i class="icon-alexia-notok"></i></a>
                    {% else %}
                    {% if membership.is_tender %}
                    <i class="icon-alexia-notok"></i>
                    <a href="{% url 'upload-iva-membership' membership.pk %}" title="{% trans 'Upload' %}"><i class="icon-alexia-upload"></i></a>
                    {% else %}
                    &mdash;
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </td>
                {% with membership.tended as tended %}
                <td>{{ tended|length|default:'&mdash;' }}</td>
                <td>{% if tended %}<abbr title="{{ tended.0.event.name  }}">{{ tended.0.event.starts_at|date:"j b Y" }}</abbr>{% else %}&mdash;{% endif %}</td>
                {% endwith %}
                <td>{{ membership.user.last_login|default:'&mdash;' }}</td>
                <td>
                    <a class="btn btn-xs btn-default" href="{% url 'edit-membership' membership.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {% trans 'Modify' %}
                    </a>
                    <a class="btn btn-xs btn-danger" href="{% url 'delete-membership' membership.pk %}">
                        <span class="glyphicon glyphicon-trash"></span>
                        {% trans 'Delete' %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<iframe id="iva-list" src="{% url 'iva-memberships' %}"></iframe>
{% endblock content %}
