Django>=3.2.25,<3.3
django-compressor>=4.4,<4.5
django-crispy-forms>=2.0,<2.1
crispy-bootstrap3>=2024.1,<2024.2
django-debug-toolbar>=4.3.0,<4.4
django-wkhtmltopdf>=3.4.0,<3.5
mysqlclient>=2.1.1
icalendar==4.1.0
jsonfield>=3.1.0,<3.2
git+https://github.com/samuraisam/django-json-rpc@a88d744d960e828f3eb21265da0f10a694b8ebcf
raven==6.10.0
# Translations -- development
django-rosetta>=0.9.8,<0.10.0
# Django-extensions (runserver_plus command) -- development
django-extensions>=3.1.5,<4.0
# Werkzeug needed for runserver_plus command) -- development
Werkzeug>=3.0,<3.1
# Single Sign On - OIDC Client
mozilla-django-oidc>=4.0.1,<4.1
# Sentry error logging
sentry-sdk>=2.26.0,<2.27
# UWSGI - to run the website in WSGI mode on a proper webserver
uwsgi>=2.0.29,<2.1
# Configure Django via environment variables
django-environ>=0.12.0,<0.13
