Django==3.2.14
django-auth-ldap==2.4.0
django-compressor==4.0
django-crispy-forms==1.14.0
django-debug-toolbar==3.5.0
django-wkhtmltopdf==3.4.0
mysqlclient==2.1.1
icalendar==4.1.0
jsonfield==3.1.0
pyrad==2.4
git+https://github.com/samuraisam/django-json-rpc@a88d744d960e828f3eb21265da0f10a694b8ebcf
git+https://github.com/Inter-Actief/django-sslserver@27c6f467524583fc522dc7b6792f166960c60210
# SAML SP (requires xmlsec and libssl-dev (on Debian))
djangosaml2==1.5.1
raven==6.10.0
# Translations -- development
django-rosetta==0.9.8
