{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans 'Login' %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="well login-form">
                <div class="logo-head logo-alexia"></div>
                <h2>{% trans "Log in" %}</h2>
                <p>{% trans "Log in with your student or employee account and password." %}</p>
                <form id="form-login" method="POST" action="/login/">
                    {% csrf_token %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_to }}" />
                    {{ form|crispy }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
                        <a href="{% url 'help' %}" style="margin-left: 2em;">{% trans 'Help' %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
