{% load compress %}
<!DOCTYPE html>
<html>
    <head>
        <title>Juliana</title>
        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap-3.3.7.css' %}">
        <link rel="stylesheet" href="{% static 'css/juliana.css' %}">
        {% endcompress %}
        <script>
            Settings = {
                api_url: "{% url 'api_v1_mountpoint' %}",
                event_id: {{ event.pk }},
                products: {{% for product in products %}
                    {{ product.id }}: {name: "{{ product.name|escapejs }}", price: {{ product.price }}},{% endfor %}
                },
                androidapp: {{ androidapp|yesno:"true,false" }},
                countdown: {{ countdown }},
            };
        </script>
    </head>
    <body>
        {% if debug and user.is_superuser %}
        <div style="position: absolute; top: 2px; left: 2px; width: 200px; border: 1px solid #FF0000; padding: 5px">
            <a href="javascript:Scanner.action({'atqa': '00:04', 'sak': '08', 'uid': '06:65:74:49'})">02,06:65:74:49</a><br/>
            <a href="javascript:Scanner.action({'atqa': '00:04', 'sak': '08', 'uid': '00:00:00:00'})">unknown id</a><br/>
            <a href="javascript:Scanner.action({'atqa': '99:99', 'sak': '99', 'uid': '00:00:00:00'})">invalid atqa/sak</a>
        </div>
        {% endif %}
        <div class="container">
            <div id="cashier-screen">
                <div class="row">
                    <div class="col-xs-4" id="keypad">
                        <div class="well" id="display">
                            Welkom bij Juliana
                        </div>
                        <div class="row">
                            <div class="col-xs-4"><a href="#" class="btn btn-default btn-block btn-keypad">7</a></div>
                            <div class="col-xs-4"><a href="#" class="btn btn-default btn-block btn-keypad">8</a></div>
                            <div class="col-xs-4"><a href="#" class="btn btn-default btn-block btn-keypad">9</a></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4"><a href="#" class="btn btn-default btn-block btn-keypad">4</a></div>
                            <div class="col-xs-4"><a href="#" class="btn btn-default btn-block btn-keypad">5</a></div>
                            <div class="col-xs-4"><a href="#" class="btn btn-default btn-block btn-keypad">6</a></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4"><a href="#" class="btn btn-default btn-block btn-keypad">1</a></div>
                            <div class="col-xs-4"><a href="#" class="btn btn-default btn-block btn-keypad">2</a></div>
                            <div class="col-xs-4"><a href="#" class="btn btn-default btn-block btn-keypad">3</a></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8"><a href="#" class="btn btn-default btn-block btn-keypad">0</a></div>
                            <div class="col-xs-4"><a href="#" class="btn btn-block btn-primary btn-keypad btn-specialpad command"
                                                     data-command="clear">Herstel</a></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12"><a href="#" class="btn btn-block btn-danger btn-specialpad command"
                                                      data-command="cancel">Annuleer</a></div>
                            <div class="col-xs-12"><a href="#" class="btn btn-block btn-info btn-specialpad command"
                                                      data-command="check">Saldo controleren</a></div>
                            <div class="col-xs-12"><a href="#" class="btn btn-block btn-primary btn-specialpad command"
                                                      data-command="cash">Contant</a></div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="tab tab-sale">
                            <div class="well">
                                <div class="row">
                                    {% for product in products %}
                                        <div class="col-xs-4">
                                            <a href="#" class="btn btn-block btn-info command"
                                               {% if product.background_color %}style="background-color: #{{ product.background_color }}; border-color: #{{ product.background_color }};"{% endif %}
                                               data-command="sales" data-product="{{ product.id }}">
                                                <span {% if product.text_color %}style="color: #{{ product.text_color }};"{% endif %}>{{ product.name }}</span>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 receipt-container">
                        <h3>Rekening</h3>
                        <div class="well" id="receipt">
                            <table id="receipt-table">
                            </table>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div id="receipt-total" class="input-group">
                                    <span class="input-group-addon"><b>Totaal: </b></span>
                                    <input type="text" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="rfid-screen">
                <div class="row">
                    <div class="col-xs-2">
                        <span class="glyphicon glyphicon-ok" style="font-size: 128px"></span>
                    </div>
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-xs-12" id="countdownbox">
                                <div class="alert alert-info">
                                    <span id="payment-in">Automatisch betalen over:</span>
                                    <span id="payment-countdown">{{ countdown }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table id="payment-receipt" class="table">
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="" id="payment-buttons">
                                    <a class="btn btn-lg btn-danger command" data-command="cancelPayment"
                                       id="cancel-payment">Annuleren</a>
                                    <a class="btn btn-lg btn-success pull-right command" data-command="payNow" id="pay-now">Ok</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="message-screen">
                <div class="row">
                    <div class="col-xs-2">
                        <span class="glyphicon glyphicon-info-sign" style="font-size: 128px"></span>
                    </div>
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="alert alert-info" id="current-message">
                                Message
                            </div>
                        </div>
                        <div class="row">
                            <a class="btn btn-lg btn-success pull-right command" data-command="ok">Ok</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="error-screen">
                <div class="row">
                    <div class="col-xs-2">
                        <span class="glyphicon glyphicon-remove" style="font-size: 128px"></span>
                    </div>
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-danger">
                                    <h2>Error</h2>
                                    <div id="current-error"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="" id="payment-buttons">
                                    <a class="btn btn-lg btn-danger command" data-command="cancelPayment"
                                       id="cancel-payment">Annuleren</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% compress js %}
        {# Vendor #}
        <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
        <script src="{% static 'js/bootstrap-3.3.7.js' %}"></script>
        {# Juliana #}
        <script src="{% static 'js/juliana.js' %}"></script>
        {% endcompress %}
        </body>
</html>
