{% extends 'base_app.html' %}

{% block title %}{% blocktrans with organization=request.organization %}Transactions of {{ organization }}{% endblocktrans %}{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>
        {% blocktrans with organization=request.organization %}Transactions of {{ organization }}{% endblocktrans %}
        <div class="pull-right">
            <a href="{% url 'export-orders' %}" class="btn btn-default">
                <span class="glyphicon glyphicon-print"></span>
                {% trans 'Export' %}
            </a>
        </div>
    </h1>
</div>
<div class="panel-group" id="stats">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#stats" href="#stats_table">{% trans 'Stats' %}</a>
        </div>
        <div id="stats_table" class="panel-collapse collapse">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-xs-2">{% trans 'Year' %}</th>
                        <th class="col-xs-10">{% trans 'Revenue' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for year in stats_years %}
                    <tr>
                        <td><a href="{% url 'year-orders' year.year %}">{{ year.year }}</a></td>
                        <td>&euro; {{ year.revenue|floatformat:2|default:"&mdash;" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="col-xs-2">{% trans 'Date' %}</th>
                <th class="col-xs-5">{% trans 'Name' %}</th>
                <th class="col-xs-1"><abbr title="{% trans 'The amount of unique debtors this event' %}">{% trans 'Visitors' %}</abbr></th>
                <th class="col-xs-1">{% trans 'Transactions' %}</th>
                <th class="col-xs-1">{% trans 'Revenue' %}</th>
                {% if request.organization.writeoff_enabled %}<th>{% trans 'Write-offs' %}</th>{% endif %}
                <th class="col-xs-2">{% trans 'Price group' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for event in event_list %}
            <tr>
                <td>{{ event.starts_at|date:"l d F" }}</td>
                <td><a href="{% url 'event-orders' event.pk %}">{{ event.name }}</a></td>
                <td>{{ event.visitors }}</td>
                <td>{{ event.order_count }}</td>
                <td>&euro; {{ event.revenue|floatformat:2|default:"&mdash;" }}</td>
                {% if request.organization.writeoff_enabled %}<td>{{ event.writeoff_order_count }}</td>{% endif %}
                <td>{{ event.pricegroup }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">{% blocktrans with organization=current_organization %}{{ organization }} hasn't used Alexia Billing yet!{% endblocktrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include 'partials/pagination.html' %}
{% endblock content %}
