{% extends 'base_app.html' %}
{% load i18n %}

{% block title %}{% trans 'Payment' %} #{{ order.pk }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        {% trans 'Payment' %} #{{ order.pk }}
    </h1>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>{% trans 'Details' %}</h2>
        <table class="table table-bordered">
            <tr>
                <th>{% trans 'Debtor' %}</th>
                <td>{{ order.authorization.user.get_full_name }}</td>
            </tr>
            <tr>
                <th>{% trans 'Timestamp' %}</th>
                <td>{{ order.placed_at|date:"l d F H:i" }}</td>
            </tr>
            <tr>
                <th>{% trans 'Event' %}</th>
                <td>{{ order.event }}</td>
            </tr>
            <tr>
                <th>{% trans 'Amount' %}</th>
                <td>&euro; {{ order.amount|floatformat:2 }}</td>
            </tr>
            <tr>
                <th>{% trans 'Handled by' %}</th>
                <td>{{ order.added_by.get_full_name }}</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>{% trans 'Items' %}</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans 'Product' %}</th>
                    <th>{% trans 'Price' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for p in order.purchases.all %}
                <tr>
                    <td>{{ p.amount }} &times; {{ p.product }}</td>
                    <td>&euro; {{ p.price|floatformat:2 }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3"><i>{% trans 'Empty payment!' %}</i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
