{% extends 'base_app.html' %}

{% block title %}{% blocktrans with organization=current_organization %}Permanent products of {{ organization }}{% endblocktrans %}{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>
         {% blocktrans with organization=current_organization %}Permanent products of {{ organization }}{% endblocktrans %}
         <div class="pull-right">
             <a class="btn btn-primary" href="{% url 'permanentproduct_create' %}">
                 <span class="glyphicon glyphicon-plus"></span>
                 {% trans 'Add' %}
             </a>
         </div>
    </h1>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Product group' %}</th>
                <th>{% trans 'Position' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for permanentproduct in permanentproduct_list %}
            <tr>
                <td {% if permanentproduct.background_color %}style="background-color: #{{ permanentproduct.background_color }};"{% endif %}>
                    <a href="{{ permanentproduct.get_absolute_url }}" {% if permanentproduct.text_color %}style="color: #{{ permanentproduct.text_color }};"{% endif %}>
                        {{ permanentproduct.name }}
                    </a>
                </td>
                <td><a href="{{ permanentproduct.productgroup.get_absolute_url }}">{{ permanentproduct.productgroup }}</a></td>
                <td>{{ permanentproduct.position }}</td>
                <td>
                    <a class="btn btn-xs btn-default" href="{% url 'permanentproduct_update' permanentproduct.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {% trans 'Modify' %}
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">{% trans 'No permanent products defined.' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
