{% extends 'base_app.html' %}

{% block title %}{{ permanentproduct }}{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>
        <small>{% trans 'Product' %}</small>
        {{ permanentproduct }}
        <div class="pull-right">
            <a class="btn btn-default" href="{% url 'product_update' permanentproduct.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
                {% trans 'Modify' %}
            </a>
            <a class="btn btn-trash" href="{% url 'product_delete' permanentproduct.pk %}">
                <span class="glyphicon glyphicon-trash"></span>
                {% trans 'Delete' %}
            </a>
        </div>
    </h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>{% trans 'Product information' %}</h3>
        <table class="table table-bordered">
            <tr>
                <th class="col-xs-6">{% trans 'Name' %}</th>
                <td class="col-xs-6">{{ permanentproduct.name }}</td>
            </tr>
            <tr>
                <th>{% trans 'Organization' %}</th>
                <td>{{ permanentproduct.organization }}</td>
            </tr>
            <tr>
                <th>{% trans 'Product group' %}</th>
                <td><a href="{{ permanentproduct.productgroup.get_absolute_url }}">{{ permanentproduct.productgroup }}</a></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <h3>{% trans 'Juliana settings' %}</h3>
        <table class="table table-bordered">
            <tr>
                <th class="col-xs-6">{% trans 'Position' %}</th>
                <td class="col-xs-6">{{ permanentproduct.position }}</td>
            </tr>
            <tr>
                <th>{% trans 'Text color' %}</th>
                <td>{{ permanentproduct.text_color|default:'&mdash;' }}</td>
            </tr>
            <tr>
                <th>{% trans 'Background color' %}</th>
                <td>{{ permanentproduct.background_color|default:'&mdash;' }}</td>
            </tr>
            <tr>
                <th>{% trans 'Color example' %}</th>
                <td{% if permanentproduct.background_color %} style="background-color: #{{ permanentproduct.background_color }}"{% endif %}>
                    <span{% if permanentproduct.text_color %} style="color: #{{ permanentproduct.text_color }}"{% endif %}>{{ permanentproduct.name }}</span>
                </td>
            </tr>
            <tr>
                <th>{% trans 'Shortcut' %}</th>
                <td>{{ object.shortcut }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}
