{% extends 'base_app.html' %}
{% load i18n %}

{% block title %}{% trans 'Price group' %}: {{ object }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans 'Price group' %}: {{ object }}</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered">
            <tr>
                <th>{% trans 'Name' %}</th>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <th>{% trans 'Organization' %}</th>
                <td>{{ object.organization }}</td>
            </tr>
        </table>
        <p>
            <a class="btn btn-default" href="{% url 'pricegroup_update' object.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
                {% trans 'Modify' %}
            </a>
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <h3 class="pull-left">{% trans 'Prices' %}</h3>
        <div class="text-right clearfix">
            <a class="btn btn-primary" href="{% url 'sellingprice_create' pricegroup_pk=object.pk %}">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans 'Add' %}
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{% trans 'Product group' %}</th>
                        <th style="text-align: right;">{% trans 'Price' %}</th>
                        <th>{% trans 'Actions' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for sellingprice in object.sellingprice_set.all %}
                    <tr>
                        <td><a href="{{ sellingprice.productgroup.get_absolute_url }}">{{ sellingprice.productgroup }}</a></td>
                        <td style="text-align: right;">&euro; {{ sellingprice.price }}</td>
                        <td>
                            <a class="btn btn-xs btn-default" href="{% url 'sellingprice_update' sellingprice.pk %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                                {% trans 'Modify' %}
                            </a>
                            <a class="btn btn-xs btn-danger" href="{% url 'sellingprice_delete' sellingprice.pk %}">
                                <span class="glyphicon glyphicon-trash"></span>
                                {% trans 'Delete' %}
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">{% trans "No prices defined." %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
