{% extends 'base_app.html' %}

{% block title %}{% trans 'Product groups' %}{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>
         {% trans 'Product groups' %}
         <div class="pull-right">
             <a class="btn btn-primary" href="{% url 'productgroup_create' %}">
                 <span class="glyphicon glyphicon-plus"></span>
                 {% trans 'Add' %}
             </a>
         </div>
    </h1>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="col-xs-8">{% trans 'Name' %}</th>
            <th class="col-xs-4">{% trans 'Actions' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for productgroup in productgroup_list %}
        <tr>
            <td><a href="{{ productgroup.get_absolute_url }}">{{ productgroup.name }}</a></td>
            <td>
                <a class="btn btn-xs btn-default" href="{% url 'productgroup_update' productgroup.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    {% trans 'Modify' %}
                </a>
                <a class="btn btn-xs btn-danger" href="{% url 'productgroup_delete' productgroup.pk %}">
                    <span class="glyphicon glyphicon-trash"></span>
                    {% trans 'Delete' %}
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="2">{% trans 'No product groups defined.' %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
