{% extends 'base_app.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{% blocktrans %}Delete productgroup {{ object }}{% endblocktrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% blocktrans %}Delete productgroup {{ object }}{% endblocktrans %}</h1>
</div>
<form method="post">
    {% csrf_token %}
    <p>
        {% blocktrans %}Are you sure you want to delete productgroup "{{ object }}"?{% endblocktrans %}
    </p>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> {% trans 'Delete' %}
        </button>
        <a class="btn btn-default" href="{{ object.get_absolute_url }}">{% trans 'Cancel' %}</a>
    </div>
</form>
{% endblock %}
