{% extends 'base_app.html' %}

{% block title %}{% trans 'Delete selling price' %}{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>{% trans 'Delete selling price' %}</h1>
</div>
<form method="post">
    {% csrf_token %}
    <p>
        <strong>{% blocktrans price=sellingprice %}Are you sure you want to delete {{ price }}?{% endblocktrans %}</strong>
    </p>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
            {% trans 'Delete' %}
        </button>
    </div>
</form>
{% endblock content %}
