{% extends 'base_app.html' %}

{% block title %}{{ temporaryproduct }}{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>
        <small>{% trans 'Temporary product' %}</small>
        {{ temporaryproduct }}
        <div class="pull-right">
            <a class="btn btn-default" href="{% url 'temporaryproduct_update' temporaryproduct.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
                {% trans 'Modify' %}
            </a>
            <a class="btn btn-danger" href="{% url 'temporaryproduct_delete' temporaryproduct.pk %}">
                <span class="glyphicon glyphicon-trash"></span>
                {% trans 'Delete' %}
            </a>
        </div>
    </h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>{% trans 'Product information' %}</h3>
        <table class="table table-bordered">
            <tr>
                <th>{% trans 'Name' %}</th>
                <td>{{ temporaryproduct.name }}</td>
            </tr>
            <tr>
                <th>{% trans 'Event' %}</th>
                <td><a href="{{ temporaryproduct.event.get_absolute_url }}">{{ temporaryproduct.event }}</a></td>
            </tr>
            <tr>
                <th>{% trans 'Price' %}</th>
                <td>&euro; {{ temporaryproduct.price }}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <h3>{% trans 'Juliana settings' %}</h3>
        <table class="table table-bordered">
            <tr>
                <th>{% trans 'Text color' %}</th>
                <td>{{ temporaryproduct.text_color|default:"&mdash;" }}</td>
            </tr>
            <tr>
                <th>{% trans 'Background color' %}</th>
                <td>{{ temporaryproduct.background_color|default:"&mdash;" }}</td>
            </tr>
            <tr>
                <th>{% trans 'Color example' %}</th>
                <td {% if temporaryproduct.background_color %}style="background-color: #{{ temporaryproduct.background_color }}; border-color: #{{ temporaryproduct.background_color }};"{% endif %}>
                    <span {% if temporaryproduct.text_color %}style="color: #{{ temporaryproduct.text_color }};"{% endif %} >{{ object.name }}</span>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}
