{% extends 'base_app.html' %}
{% load i18n %}

{% block title %}{% trans 'Availability' %}: {{ object }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans 'Availability' %}: {{ object }}</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered">
            <tr>
                <th>{% trans 'Name' %}</th>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <th>{% trans 'Nature' %}</th>
                <td>{{ object.get_nature_display }}</td>
            </tr>
            <tr>
                <th>{% trans 'Organization' %}</th>
                <td>{{ object.organization }}</td>
            </tr>
        </table>
        <p>
            <a class="btn btn-default" href="{% url 'availability_update' object.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
                {% trans 'Modify' %}
            </a>
        </p>
    </div>
</div>
{% endblock %}
