{% extends 'base_app.html' %}
{% load i18n %}

{% block title %}{% trans 'Delete user' %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans 'Delete user' %}</h1>
</div>
<form method="post">
    {% csrf_token %}
    <p>
        <strong>
            {% blocktrans %}Are you sure you want to delete user {{ membership }}?{% endblocktrans %}
        </strong>
    </p>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> {% trans 'Delete' %}
        </button>
        <a class="btn btn-default" href="{% url 'memberships' %}">{% trans 'Cancel' %}</a>
    </div>
</form>
{% endblock %}
