<div class="page">
    {% if not object.is_completed %}
    <p class="alert">
        {% trans 'Consumption form not yet completed.' %}
    </p>
    {% endif %}
    <h1>{% trans 'Consumption form' %}</h1>
    <table>
        <tr>
            <th style="width: 15%">{% trans 'Organization' %}:</td>
            <td style="width: 35%">{{ object.event.organizer }}</td>
            <th style="width: 15%">{% trans 'Location' %}:</td>
            <td style="width: 35%">{{ object.event.location.all|join:", " }}</td>
        </tr>
        <tr>
            <th>{% trans 'Date' %}:</td>
            <td colspan="3">{{ object.event.starts_at|date:"l j F Y" }}</td>
        </tr>
        <tr>
            <th>{% trans 'Event' %}:</td>
            <td colspan="3">{{ object.event }}</td>
        </tr>
    </table>
    <h2>{% trans 'Consumption' %}</h2>
    {% if object.unitentry_set.all|length > 0 %}
    <table>
    {% for entry in object.unitentry_set.all %}
        <tr>
            <th style="width: 30%">{{ entry.product }}</th>
            <td style="width: 70%">{{ entry.amount }}</td>
        </tr>
    {% endfor %}
    </table>
    <p>&nbsp;</p>
    {% endif %}
    {% if object.weightentry_set.count %}
    <table>
        <tr>
            <th rowspan="2" style="width: 30%">{% trans 'Keg beer' %}</th>
            <td rowspan="2" style="width: 10%">{% trans 'Begin' %}</td>
            <td rowspan="2" style="width: 10%">{% trans 'End' %}</td>
            <td rowspan="2" style="width: 10%"># {% trans 'Kegs changed' %}</td>
            <td rowspan="2" style="width: 10%">{% trans 'Flow start' %}</td>
            <td rowspan="2" style="width: 10%">{% trans 'Flow end' %}</td>
            <th colspan="2" style="width: 20%">{% trans 'Total' %}</th>
        </tr>
        <tr>
            <td>{% trans 'Weight' %}</td>
            <td>{% trans 'Flow' %}</td>
        </tr>
    {% for entry in object.weightentry_set.all %}
        <tr>
            <th>{{ entry.product }}</th>
            <td>{{ entry.start_weight }}</td>
            <td>{{ entry.end_weight }}</td>
            <td>{{ entry.kegs_changed|default:"&mdash;" }}</td>
            <td>{{ entry.flow_start|default:"&mdash;" }}</td>
            <td>{{ entry.flow_end|default:"&mdash;" }}</td>
            <th>{{ entry.total }}</th>
            <th>{{ entry.flow_total|default:"&mdash;" }}</th>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    <h2>{% trans 'Comments' %}</h2>
    <div class="comments">
        {% if object.comments %}
        {{ object.comments|linebreaks }}
        {% else %}
        <p style="color: #aaa; font-style: italic">{% trans 'No comments' %}</p>
        {% endif %}
    </div>
    {% if object.is_completed %}
    <p>&nbsp;</p>
    <hr>
    <p style="text-align: center">{% trans 'Signed off by' %} {{ object.completed_by.get_full_name }} {% trans 'on' %} {{ object.completed_at|date:"l j F Y" }} {% trans 'at' %} {{ object.completed_at|date:"H:i"}}.</p>
    {% endif %}
</div>
