{% extends 'base_app.html' %}

{% block title %}{% trans 'About' %}{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>{% trans 'About' %} Alexia</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h3>{% trans 'Developers' %}</h3>
        <p>
            {% blocktrans trimmed %}
            Alexia was developed for the drink basements under management of SBZ (Zilverling Drink Management Foundation). The
            base of this application was developed during the design project course, part of the Computer Science Bachelor.
            The following people contributed to this project:
            {% endblocktrans %}
            <ul>
                <li>Ralph Broenink;</li>
                <li>Rick van Galen;</li>
                <li>Jarmo van Lenthe;</li>
                <li>Bas Stottelaar;</li>
                <li>{% trans 'and' %} Niek Tax.</li>
            </ul>
        </p>
        <p>
            {% trans 'After the design project development of Alexia was continued by' %}
            <ul>
                <li>Cas Ebbers;</li>
                <li>Nick Schot;</li>
                <li>Jelte Zeilstra;</li>
                <li>Kevin Alberts;</li>
                <li>Wouter Kobes;</li>
                <li>{% trans 'and' %} Oxan van Leeuwen.</li>
            </ul>
        </p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h3>{% trans 'Stats' %}</h3>
        <h4>{% trans 'Organization' %}</h4>
        <p>
            {% blocktrans trimmed with users=count.users organizations=count.organizations tenders=count.tenders locations=count.locations %}
            Alexia has <strong>{{ users }} (former) users</strong>. There are <strong>{{ organizations }} organizations</strong>
            with <strong>{{ tenders }} bartenders</strong>. There are also <strong>{{ locations }} locations</strong>.
            {% endblocktrans %}
        </p>
        <h4>{% trans 'Drinks' %}</h4>
        <p>
            {% blocktrans trimmed with first_event_date=count.first_event.starts_at|date events=count.events bartender_availabilities=count.bartender_availabilities bartender_availabilities_yes=count.bartender_availabilities_yes bartender_availabilities_assigned=count.bartender_availabilities_assigned %}
            The system has been registering events since <strong>{{ first_event_date }}</strong>, and <strong>{{ events }} events</strong>
            have been registered since then. For these events, bartenders have indicated their availability
            <strong>{{ bartender_availabilities }} times</strong>, of which bartenders said <strong>'yes' {{ bartender_availabilities_yes }} times</strong>,
            and <strong>{{ bartender_availabilities_assigned }} bartenders have been assigned</strong>.
            {% endblocktrans %}
        </p>
    </div>
</div>
{% endblock content %}
