{% extends 'base_app.html' %}
{% load i18n %}

{% block title %}{% trans 'About' %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans 'About' %} Alexia</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h3>{% trans 'Developers' %}</h3>
        <p>
            {% blocktrans %}
            Alexia was developed for the drink basements under management of SBZ (Zilverling Drink Management Foundation). The
            base of this application was developed during the design project course, part of the Computer Science Bachelor.
            The following people contributed to this project:
            {% endblocktrans %}
            <ul>
                <li>Ralph Broenink;</li>
                <li>Rick van Galen;</li>
                <li>Jarmo van Lenthe;</li>
                <li>Bas Stottelaar;</li>
                <li>{% trans 'and' %} Niek Tax.</li>
            </ul>
        </p>
        <p>
            {% blocktrans %}
            After the design project development of Alexia was continued by
            {% endblocktrans %}
            <ul>
                <li>Cas Ebbers;</li>
                <li>Nick Schot;</li>
                <li>Jelte Zeilstra;</li>
                <li>{% trans 'and' %} Oxan van Leeuwen.</li>
            </ul>
        </p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h3>{% trans 'Stats' %}</h3>
        <h4>{% trans 'Organization' %}</h4>
        <p>
            Alexia kent <strong>{{ count.users }} (oud-)gebruikers</strong>. Er zijn
            <strong>{{ count.organizations }} verenigingen </strong> met
            <strong>{{ count.tenders }} tappers</strong>. Verder zijn er
            <strong>{{ count.locations }} locaties</strong> waarvan er
            <strong>{{ count.public_locations }} fysieke borrelruimtes</strong> zijn.
        </p>
        <h4>{% trans 'Drinks' %}</h4>
        <p>
            Het syseem registreert borrels sinds <strong>{{ count.first_event.starts_at|date }}</strong> en sindsdien zijn er
            <strong>{{ count.events }} borrels</strong> aangemeld. Voor deze borrels hebben de tappers
            <strong>{{ count.bartender_availabilities }} keer</strong> hun beschikbaarheid aangegeven, waarvan er
            <strong>{{ count.bartender_availabilities_yes }} keer 'ja'</strong> is gezegd door de tappers, en er
            <strong>{{ count.bartender_availabilities_assigned }} tappers zijn toegewezen</strong>.
        </p>
    </div>
</div>
{% endblock %}
