{% extends 'base_app.html' %}

{% block title %}Help{% endblock title %}

{% block content %}
{% url 'event-list' as event_list_url %}
{% url 'new-event' as new_event_url %}
{% url 'profile' as profile_url %}
{% url 'memberships' as memberships_url %}
<div class="page-header">
    <h1>{% trans 'Help' %}</h1>
</div>
<p>
    {% blocktrans trimmed %}
    Alexia is the drinks management system of the study associations of the EWI and MB faculties, working together in
    Stichting Borrelbeheer Zilverling. In this system the drink rooms are reserved, and in the future consumption and
    sales can also be registered.
    {% endblocktrans %}
</p>
<h2>{% trans 'Table of contents' %}</h2>
<ul>
    <li><a href="#inloggen">{% trans 'Login' %}</a></li>
    <li><a href="#beschikbaarheid">{% trans 'Indicate availability' %}</a></li>
    <li><a href="#plannen">{% trans 'Schedule events' %}</a></li>
    <li><a href="#tappersbeheren">{% trans 'Manage bartenders' %}</a></li>
    <li><a href="#bugs">{% trans 'Bugs or suggestions?' %}</a></li>
</ul>
<h2 id="inloggen">{% trans 'Login' %}</h2>
<p>
    {% blocktrans trimmed %}
    Logging in to Alexia is done using your UTwente account (s- or m-number and the corresponding password). The
    password for the old drinks management system is therefore no longer used.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans trimmed %}
    On the login page you can also indicate which organization you are logging in for, by clicking the logo of that
    organization.
    {% endblocktrans %}
</p>
<h3>{% trans 'Logging in for the first time' %}</h3>
<p>
    {% blocktrans trimmed %}
    If you log in for the first time, you may be asked for your name and/or email address. Here you fill in the
    email address on which you want to receive all emails from Alexia.
    {% endblocktrans %}
</p>
<h2 id="beschikbaarheid">{% trans 'Indicate availability' %}</h2>
<p>
    {% blocktrans trimmed with event_list_url=event_list_url %}
    If you are a bartender for an organization, you can indicate your availability under the
    <a href="{{ event_list_url }}">Planning</a> button. On this page you can see all scheduled events. For events
    where your organization participates, you can use the dropdown menu on the right to indicate whether you want to
    tend that event.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans trimmed with profile_url=profile_url %}
    <em>Can't change your availability?</em> Check whether you have selected the correct organization in the top
    right of the page. Under <a href="{{ profile_url }}">My profile</a> (section <em>Authorization</em>) you can
    check whether you are also registered as a bartender with your organization. It may also be that indicating
    availability has been disabled for an event.
    {% endblocktrans %}
</p>
<h2 id="plannen">{% trans 'Schedule events' %}</h2>
<p>
    {% blocktrans trimmed with new_event_url=new_event_url event_list_url=event_list_url %}
    With the <a href="{{ new_event_url }}">Add event</a> button on the <a href="{{ event_list_url }}">Planning</a>
    page, you can schedule new events as a Planner. With the pencil icon
    <a class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span></a> you can modify events, and
    with the trash icon <a class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></a> you can
    delete scheduled events.
    {% endblocktrans %}
</p>
<dl>
    <dt>{% trans 'participants' as t %}{{ t|capfirst }}</dt>
    <dd>
        {% blocktrans trimmed %}
        Indicates which organizations participate in this event. Bartenders from the organizations you select can
        sign up as a bartender for the event.
        {% endblocktrans %}
    </dd>
    <dt>{% trans 'name' as t %}{{ t|capfirst }}</dt>
    <dd>
        {% trans 'The name of the event or activity' %}
    </dd>
    <dt>{% trans 'description' as t %}{{ t|capfirst }}</dt>
    <dd>
        {% trans 'Additional information about an event. Currently only visible to planners.' %}
    </dd>
    <dt>{% trans 'starts at' as t %}{{ t|capfirst }}</dt>
    <dd>
        {% trans 'The start time of the reservation. The reservation may not overlap with other reservations in the same room.' %}
    </dd>
    <dt>{% trans 'ends at' as t %}{{ t|capfirst }}</dt>
    <dd>
        {% trans 'The end time of the reservation.' %}
    </dd>
    <dt>{% trans 'tender enrollment closed' as t %}{{ t|capfirst }}</dt>
    <dd>
        {% trans 'If this box is checked, bartenders can no longer sign up for this event or change their availability.' %}
    </dd>
    <dt>{% trans 'location' as t %}{{ t|capfirst }}</dt>
    <dd>
        {% trans 'The reserved room(s).' %}
    </dd>
    <dt>{% trans 'number of kegs' as t %}{{ t|capfirst }}</dt>
    <dd>
        {% trans 'The number of kegs of beer you expect to use.' %}
    </dd>
    <dt>{% trans 'pricegroup' as t %}{{ t|capfirst }}</dt>
    <dd>
        {% trans 'The category for selling prices for this event. Currently not used.' %}
    </dd>
</dl>
<p>
    {% blocktrans trimmed with profile_url=profile_url %}
    <em>Can't schedule or modify events?</em> Check whether you have selected the correct organization in the top
    right of the page. Under <a href="{{ profile_url }}">My profile</a> (section <em>Authorization</em>) you can
    check whether you are also registered as a planner with your organization.
    {% endblocktrans %}
</p>
<h2 id="tappersbeheren">{% trans 'Manage bartenders' %}</h2>
<p>
    {% blocktrans trimmed with memberships_url=memberships_url %}
    On the <a href="{{ memberships_url }}">Users</a> page, Managers of the organization can view, add, edit or delete
    the bartenders, planners and managers of the organization.
    {% endblocktrans %}
</p>
<dl>
    <dt>{% trans 'RADIUS username' %}</dt>
    <dd>
        {% trans 'Enter the s- or m-number of the person in question here.' %}
    </dd>
    <dt>{% trans 'may tend on events' as t %}{{ t|capfirst }}</dt>
    <dd>
        {% trans 'Indicates that the person can sign up as a bartender for events.' %}
    </dd>
    <dt>{% trans 'may create and modify events' as t %}{{ t|capfirst }}</dt>
    <dd>
        {% trans 'Indicates that the person can create, modify and delete events.' %}
    </dd>
    <dt>{% trans 'May create and modify bartenders' %}</dt>
    <dd>
        {% trans 'Indicates that the person can create, modify and delete bartenders, planners and managers.' %}
    </dd>
</dl>
<p>
    {% blocktrans trimmed %}
    When a person is added to the system for the first time, you must also fill in their first name, last name and
    email address.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans trimmed with profile_url=profile_url %}
    <em>Can't view or modify bartenders?</em> Check whether you have selected the correct organization in the top
    right of the page. Under <a href="{{ profile_url }}">My profile</a> (section <em>Authorization</em>) you can
    check whether you are also registered as a manager with your organization.
    {% endblocktrans %}
</p>
<h2 id="bugs">{% trans 'Bugs or suggestions?' %}</h2>
<p>
    {% blocktrans trimmed %}
    If you have a problem with the scheduling of an event, you can contact the board of Stichting Borrelbeheer
    Zilverling via <span class="reverse">ln.etnewtu.zbs@gelrevo</span>.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans trimmed with www_committee_url="https://www.inter-actief.utwente.nl/committees/2/www-committee/" %}
    If you have found a bug in this drinks management system or have suggestions for improvement, you can contact the
    <a href="{{ www_committee_url }}">WWW committee</a> of Inter-<i>Actief</i>
    via <span class="reverse">ten.feitca-retni@www</span>.
    {% endblocktrans %}
</p>
{% endblock content %}
