@keyframes flash-receipt {
    from { background: #5BC0DE; }
    to { background: transparent; }
}

body {
  padding-top: 20px!important;
}

.tab-sale > div.well {
	height:860px;
	margin-bottom:0;
	padding:10px;
}

.tab-sale.tab-writeoff > div.well {
	height:750px !important;
	margin-bottom:0;
	padding:10px;
}

.tab-sale .row {
	padding-left:10px;
	padding-right:10px;
}

.tab-sale .row > div {
	padding-left:5px;
	padding-right:5px;
}

.tab-sale .btn {
	margin-bottom:10px;
	height:100px;
	white-space:normal;
	line-height:90px;
	padding:0;
    font-size:20px;
    position: relative;
}

.tab-sale .btn > span {
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
}

.tab-sale .btn > .shortcut {
    position: absolute;
    font-size: 16px;
    right: 0.2em;
    bottom: 0.2em;
}

.tab-sale .btn-writeoff {
    line-height: inherit !important;
    padding-top: 10px;
	height: 120px !important;
}

.tab-sale .btn-writeoff > span {
    display: block !important;
}

.tab-sale .btn-writeoff > small {
    display: block !important;
}

#keypad .row {
	padding-left:10px;
	padding-right:10px;
}

#keypad .row > div {
	padding-left:5px;
	padding-right:5px;
}

#display {
	font-size:2em;
	padding-top:9px;
	padding-bottom:8px;
}

.btn-keypad {
  height: 108px;
  line-height: 1.3em;
  font-size: 5em;
  margin-bottom: 10px;
}

.btn-specialpad {
  line-height: 3em;
  font-size: 2em;
  margin-bottom: 7px;
}

#display.flash {
  background-color: #FCC;
  color: #C00;
}

.receipt-container {
	position:relative;
}

.receipt-container > h3 {
	margin-top:0;
}

#receipt {
	height: 744px;
	overflow-x: hidden;
	overflow-y: auto;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	border-bottom: 0;
	padding: 0 0;
	margin-bottom: 0;
}

#receipt-table, #log-table {
	width: 100%;
}

#receipt-table tr.flash td {
    animation-name: flash-receipt;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

#receipt-table td {
	padding-bottom: 10px;
	font-size:16px;
    border-bottom:1px solid #CCC;
    padding-top:10px;
    padding-left:10px;
    position:relative;
}

#receipt-table td:last-child {
    text-align:right;
    padding-right:10px;
}

#receipt-table a {
    position:relative;
}

#receipt-table a.btn {
    position:absolute;
    vertical-align:middel;
    border-radius:30px;
}

#receipt-table td span {
    margin-left:45px;
    display:block;
    min-height:35px;
}

#receipt-total {
	border-top-left-radius:0;
	border-top-right-radius:0;
	width: 100%;
}

#receipt-total span, #receipt-total input {
	font-size:2.3em;
	border-top-left-radius:0;
	border-top-right-radius:0;
	height:80px;
}

#receipt-total input {
    text-align:right;
}


/*Payment/RFID screen*/
#rfid-screen, #writeoff-timer-screen {
    height:860px;
    padding-top:130px;
    padding-bottom:130px;
}

#payment-in, #writeoff-in {
    font-size:28px;
}

#payment-countdown, #writeoff-countdown {
    font-size:28px;
    padding:10px 18px;
    background:#888;
    border-radius:40px;
    color:#FFF;
    font-weight:bold;
}

#payment-receipt, #writeoff-receipt {
    font-size:20px;
}

#payment-receipt tr td:last-child, #payment-receipt tr td:nth-child(2),
#writeoff-receipt tr td:last-child, #writeoff-receipt tr td:nth-child(2) {
    text-align:right;
}

#payment-buttons .btn, #writeoff-buttons .btn {
    font-size:28px;
    padding:20px 32px;
}

#cancel-writeoff-buttons .btn {
    font-size:28px;
    padding: 8px 32px;
    margin-top: 10px;
}

/*Error screen*/
#error-screen {
}

#current-error {
    font-size:20px;
}

/* Mesage screen */
#message-screen {
	padding-top: 130px;
}
