Django>=1.7.8,<1.8
django-compressor==1.4
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.2
git+git://github.com/Inter-Actief/django-json-rpc.git#egg=django_json_rpc
MySQL-python==1.2.5
eventlog==0.10.0
icalendar==3.8.4
pyrad==2.0
