{% load i18n %}

<table class="table table-condensed">
    {% for a in tenders %}
    <tr>
        <td><a title="{% trans 'Last tended' %}: {% if a.last_tended %}{{ a.last_tended.event.starts_at|date:"j b Y" }} - {{ a.last_tended.event.name }}{% else %}{% trans 'Never' %}{% endif %}" href="{% url 'membership' a.membership_id %}">{{ a.user.get_full_name }}</a></td>
        <td>
            <a href="{% url 'edit-event-bartender-availability' pk=event.pk user_pk=a.user.pk %}">
                <span title="{% trans 'Last tended' %}: {% if a.last_tended %}{{ a.last_tended.event.starts_at|date:"j b Y" }} - {{ a.last_tended.event.name }}{% else %}{% trans 'Never' %}{% endif %}" class="label label-{{ a.availability.css_class|default:'default' }}">{{ a.availability|default:_("Unknown") }}</span>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>