{% extends 'base_app.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans 'Manage IVA certificate' %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        {% trans 'Manage IVA certificate' %}
    </h1>
</div>

{% if object.approved_at %}
<div class="alert alert-danger">
    {% trans '<strong>Caution!</strong> You already have an approved IVA certificate. Uploading a new one will make the current one invalid!' %}
</div>
{% endif %}

{% crispy form %}

{% endblock %}
