{% extends 'base_app.html' %}
{% load i18n %}

{% block title %}{% blocktrans with organization=request.organization %}Mail templates of {{ organization }}{% endblocktrans %}{% endblock %}

{% block content %}
<div class="page-header clearfix">
    <h1 class="pull-left">
         {% blocktrans with organization=request.organization %}Mail templates of {{ organization }}{% endblocktrans %}
    </h1>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Subject' %}</th>
                <th>{% trans 'Is active' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object.get_name_display }}</a></td>
                <td>{{ object.subject }}</td>
                <td>{{ object.is_active|yesno }}</td>
                <td>
                    <a class="btn btn-xs btn-default" href="{% url 'mailtemplate_update' object.name %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {% trans 'Modify' %}
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">{% trans "No price groups defined." %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
