{% extends 'base_app.html' %}

{% block title %}{% blocktrans with organization=current_organization %}Availabilities of {{ organization }}{% endblocktrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
         {% blocktrans with organization=current_organization %}Availabilities of {{ organization }}{% endblocktrans %}
         <div class="pull-right">
             <a class="btn btn-primary" href="{% url 'availability_create' %}">
                 <span class="glyphicon glyphicon-plus"></span>
                 {% trans 'Add' %}
             </a>
         </div>
    </h1>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="col-md-4">{% trans 'Name' %}</th>
            <th class="col-md-4">{% trans 'Nature' %}</th>
            <th class="col-md-4">{% trans 'Position' %}</th>
            <th class="col-md-4">{% trans 'Actions' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for availability in availability_list %}
        <tr>
            <td>{{ availability.name }}</td>
            <td>{{ availability.get_nature_display }}</td>
            <td>{{ availability.position }}</td>
            <td>
                <a class="btn btn-xs btn-default" href="{% url 'availability_update' availability.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    {% trans 'Modify' %}
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="3">{% trans 'No availabilities defined.' %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
