{% extends 'base_app.html' %}
{% load i18n %}

{% block title %}{{ event }}{% endblock %}

{% block content %}
<div class="page-header">
    <h2>{{ event }}</h2>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h3>
            Gegevens
            <a href="{% url 'apps.scheduling.views.event_edit' event.pk %}" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span> {% trans 'Modify' %}
            </a>
        </h3>
        <table class="table table-bordered">
            <tr>
                <th>{% trans 'Participants' %}</th>
                <td>
                {% for participant in event.participants.all %}
                    {{ participant }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{% trans 'Location' %}</th>
                <td>
                {% for location in event.location.all %}
                    {{ location }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{% trans 'Start' %}</th>
                <td>{{ event.starts_at|date:"l d F H:i" }}</td>
            </tr>
            <tr>
                <th>{% trans 'End' %}</th>
                <td>{{ event.ends_at|date:"l d F H:i" }}</td>
            </tr>
        </table>

        <h3>
            {% trans 'Temporary products' %}
            {% if is_manager %}
                <a href="{% url 'temporaryproduct_create' event_pk=event.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add' %}</a>
            {% endif %}
        </h3>
        <p>{% trans 'Temporary products can only be created or modified by managers.' %}</p>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th style="text-align: right;">{% trans 'Price' %}</th>
                    {% if is_manager %}
                        <th>{% trans 'Actions' %}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for temporaryproduct in event.temporaryproducts.all %}
                    <tr>
                        <td>
                            {% if is_manager %}
                                <a href="{{ temporaryproduct.get_absolute_url }}">{{ temporaryproduct.name }}</a></td>
                            {% else %}
                                {{ temporaryproduct.name }}
                            {% endif %}
                        </td>
                        <td style="text-align: right;">&euro; {{ temporaryproduct.price }}</td>
                        {% if is_manager %}
                        <td>
                            <a class="btn btn-default btn-sm" href="{% url 'temporaryproduct_update' temporaryproduct.pk %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                                {% trans 'Modify' %}
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">{% trans "No temporary products defined." %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="col-xs-12 col-sm-6">
        <h3>{% trans 'Bartenders' %}</h3>
        <table class="table table-condensed">
            {% for a in availabilities %}
            <tr>
                <td>{{ a.user.get_full_name }}</td>
                <td>
                    <a href="{% url 'apps.scheduling.views.event_edit_bartender_availability' pk=event.pk user_pk=a.user.pk %}">
                        <span class="label label-{{ a.availability.css_class|default:'default' }}">{{ a.availability|default:_("Unknown") }}</span>
                    </a>
                </td>
            </tr>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
