{% extends 'base_app.html' %}

{% block title %}{% trans 'Planning' %}{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
        events:  '{% url 'fetch-calendar-schedule' %}',
        firstDay: 1,
        weekNumbers: true,
        weekMode: 'liquid',
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek'
        },
        ignoreTimezone: false,
        defaultView: 'agendaWeek',
        loading: function(bool) {
            if(bool) $('#loading').show();
            else     $('#loading').hide();
        },
        eventRender: function(event, element) {
            html  = "<b>{% trans 'Location' %}:</b> " + event.location;
            html += "<br><b>{% trans 'Organization' %}:</b> " + event.organizers;
            html += "<br><b>{% trans 'Bartenders' %}:</b> " + event.tenders;

            element.popover({
                container: 'body',
                content: html,
                html: true,
                title: event.title,
                trigger: 'hover',
            });
        },

        selectable: true,
        selectHelper: true,
        select: function(startDate, endDate, allDay) {
            if (allDay) return this.unselect();

            var message = '{% trans 'Create event?' %}\n\n';
            message += '{% trans 'From' %}: ' + startDate.toLocaleString() + '\n';
            message += '{% trans 'Till' %}: ' + endDate.toLocaleString();

            if(window.confirm(message)) {
                var query = {
                    starts_at: startDate.toISOString(),
                    ends_at: endDate.toISOString(),
                };
                window.location.href = '{% url 'new-event' %}?' + $.param(query);
            } else {
                this.unselect();
            }
        },

        // week agenda view
        minTime: 10,
        allDaySlot: false,

        // i18n
        timeFormat: 'HH:mm{ - HH:mm}',
        columnFormat: {
            week: 'ddd d/M',
        },
        titleFormat: {
                week: "d MMM yyyy{ '&#8212;' d MMM yyyy}"
        },
        buttonText: {
            today: '{% trans 'today' %}',
            month: '{% trans 'month' %}',
            week: '{% trans 'week' %}'
        },
        monthNames: ['{% trans 'January' %}', '{% trans 'February'%}', '{% trans 'March' %}', '{% trans 'April' %}',
            '{% trans 'May' %}', '{% trans 'June' %}', '{% trans 'July' %}', '{% trans 'August' %}',
            '{% trans 'September' %}', '{% trans 'October' %}', '{% trans 'November' %}', '{% trans 'December' %}'],
        monthNamesShort: ['{% trans 'Jan.' %}', '{% trans 'Feb.' %}', '{% trans 'Mar.' %}', '{% trans 'Apr.' %}',
            '{% trans 'May' %}', '{% trans 'Jun.' %}', '{% trans 'Jul.' %}', '{% trans 'Aug.' %}', '{% trans 'Sep.' %}',
            '{% trans 'Oct.' %}', '{% trans 'Nov.' %}', '{% trans 'Dec.' %}'],
        dayNames: ['{% trans 'Sunday' %}', '{% trans 'Monday' %}', '{% trans 'Tuesday' %}', '{% trans 'Wednesday' %}',
            '{% trans 'Thursday' %}', '{% trans 'Friday' %}', '{% trans 'Saturday' %}'],
        dayNamesShort: ['{% trans 'Sun' %}', '{% trans 'Mon' %}', '{% trans 'Tue' %}', '{% trans 'Wed' %}',
            '{% trans 'Thu' %}', '{% trans 'Fri' %}', '{% trans 'Sat' %}'],
        weekNumberTitle: '{% trans 'Week' %} ',
        axisFormat: 'H:mm',
    });
});
</script>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        {% trans 'Calendar' %}
        <small id="loading" style="display: none;">{% trans 'Loading...' %}</small>
        {% if is_planner %}
        <div class="pull-right">
            <a href="{% url 'new-event' %}" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans 'Add event' %}
            </a>
        </div>
        {% endif %}
    </h1>
</div>
<div id="calendar"></div>
{% endblock %}
