{% extends 'base_app.html' %}

{% block title %}
{% if event.pk %}
{% trans 'Edit event' %}
{% else %}
{% trans 'Add event' %}
{% endif %}
{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>
        {% if event.pk %}
        {% trans 'Edit event' %}
        {% else %}
        {% trans 'Add event' %}
        {% endif %}
    </h1>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-lg-2">{% trans 'Organizer' %}</label>
        <div class="controls col-lg-8">
            <p class="input-static">{{ current_organization }}</p>
        </div>
    </div>
</div>
{% crispy form %}
{% endblock content %}
