{% extends 'base_app.html' %}

{% block title %}{% trans 'Mail template' %} {{ mailtemplate }}{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>
        <small>{% trans 'Mail template' %}</small>
        {{ mailtemplate }}
        <div class="pull-right">
            <a class="btn btn-default" href="{% url 'mailtemplate_update' mailtemplate.name %}">
                <span class="glyphicon glyphicon-pencil"></span>
                {% trans 'Modify' %}
            </a>
        </div>
    </h1>
</div>
<table class="table table-bordered">
    <tr>
        <th>{% trans 'Name' %}</th>
        <td>{{ mailtemplate.get_name_display }}</td>
    </tr>
    <tr>
        <th>{% trans 'Organization' %}</th>
        <td>{{ mailtemplate.organization }}</td>
    </tr>
    <tr>
        <th>{% trans 'Subject' %}</th>
        <td>{{ mailtemplate.subject }}</td>
    </tr>
    <tr>
        <th>{% trans 'Is active' %}</th>
        <td>{{ mailtemplate.is_active|yesno }}</td>
    </tr>
    <tr>
        <th>{% trans 'Template' %}</th>
        <td><pre>{{ mailtemplate.template }}</pre></td>
    </tr>
</table>
{% endblock content %}
