{% extends 'base_app.html' %}
{% load i18n %}

{% block title %}{% trans 'Bartender' %}{% endblock %}

{% block content %}
<div class="page-header">
    <h2>{% trans 'Bartender' %}</h2>
</div>
{% if events %}
<div class="table-responsive">
    <table class="table table-hover table-condensed table-events">
        <thead>
            <tr>
                <th class="col-sm-2">{% trans 'Date' %}</th>
                <th class="col-sm-2">{% trans 'Time' %}</th>
                <th class="col-sm-1">{% trans 'Location' %}</th>
                <th class="col-sm-3">{% trans 'Name' %}</th>
                <th class="col-sm-2">{% trans 'Bartenders' %}</th>
                <th class="col-sm-2">{% trans 'Instructions' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for e in events %}
            <tr{% if e.option %} class="event-option"{% endif %}>
                <td>
                    {% if e.starts_at|date == e.ends_at|date %}
                        {{ e.starts_at|date:"D d b" }}
                    {% else %}
                        {{ e.starts_at|date:"D d b" }}<br />
                        {{ e.ends_at|date:"D d b" }}
                    {% endif %}
                </td>
                <td>
                    {% if e.starts_at|date == e.ends_at|date %}
                        {{ e.starts_at|time:"TIME_FORMAT" }} - {{ e.ends_at|time:"TIME_FORMAT" }}
                    {% else %}
                        {{ e.starts_at|time:"TIME_FORMAT" }}<br />
                        {{ e.ends_at|time:"TIME_FORMAT" }}
                    {% endif %}
                </td>
                <td>
                    {% for location in e.location.all %}
                        {{ location }}{% if not forloop.last %}<br />{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if e.organizer == request.organization and is_planner %}
                        <a href="{% url 'apps.scheduling.views.event_show' e.pk %}">{{ e.name }}</a>
                    {% else %}
                        {{ e.name }}
                    {% endif %}
                </td>
                <td id="available_bartenders_{{ e.pk }}">
                    {% include 'scheduling/partials/available_bartenders.html' with e=e %}
                </td>
                <td>{{ e.tender_comments }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p id="no-events-message">{% blocktrans with dt_range_start|date:"l j F" as s and dt_range_end|date:"l j F" as e %}No events have been planned from {{ s }} until {{ e }}.{% endblocktrans %}</p>
{% endif %}
{% endblock %}
