{% extends 'base_app.html' %}
{% load i18n %}

{% block title %}{% trans 'Planning' %}{% endblock %}

{% block head %}
<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
        events:  "{% url 'apps.scheduling.perspectives.calendar_fetch' %}",
        allDayDefault: false,
        firstDay: 1,
        weekNumbers: true,
        weekMode: 'liquid',
        aspectRatio: 1.6,
        header: {
            left: 'today prev,next',
            center: 'title',
            right: 'month,agendaWeek'
        },
        defaultView: 'agendaWeek',
        loading: function(bool) {
            if(bool) $('#loading').show();
            else     $('#loading').hide();
        },
        eventRender: function(event, element) {
            html  = "<b>{% trans 'Location' %}:</b> " + event.location;
            html += "<br><b>{% trans 'Organization' %}:</b> " + event.organizers;
            html += "<br><b>{% trans 'Bartenders' %}:</b> " + event.tenders;
            if(event.canEdit) { html += "<br><a href=\"" + event.editUrl  + "\">{% trans 'edit' %}</a>"; }

            element.qtip({
                style: { classes: 'qtip-bootstrap' },
                position: { target: 'mouse', adjust: { mouse: false } },
                show: 'mousedown',
                content: {
                    title: event.title,
                    text: html
                }
            });
        },

        // week agenda view
        minTime: 10,
        slotMinutes: 30,
        allDaySlot: false,

        // i18n
        timeFormat: 'HH:mm{ - HH:mm}',
        columnFormat: {
            week: 'ddd d/M',
        },
        titleFormat: {
            week: "d MMM yyyy{ '&#8212;' d MMM yyyy}"
        },
        buttonText: {
            today: '{% trans 'today' %}',
            month: '{% trans 'month' %}',
            week: '{% trans 'week' %}'
        },
        monthNames: ['{% trans 'January' %}', '{% trans 'February'%}', '{% trans 'March' %}', '{% trans 'April' %}',
            '{% trans 'May' %}', '{% trans 'June' %}', '{% trans 'July' %}', '{% trans 'August' %}',
            '{% trans 'September' %}', '{% trans 'October' %}', '{% trans 'November' %}', '{% trans 'December' %}'],
        monthNamesShort: ['{% trans 'Jan.' %}', '{% trans 'Feb.' %}', '{% trans 'Mar.' %}', '{% trans 'Apr.' %}',
            '{% trans 'May' %}', '{% trans 'Jun.' %}', '{% trans 'Jul.' %}', '{% trans 'Aug.' %}', '{% trans 'Sep.' %}',
            '{% trans 'Oct.' %}', '{% trans 'Nov.' %}', '{% trans 'Dec.' %}'],
        dayNames: ['{% trans 'Sunday' %}', '{% trans 'Monday' %}', '{% trans 'Tuesday' %}', '{% trans 'Wednesday' %}',
            '{% trans 'Thursday' %}', '{% trans 'Friday' %}', '{% trans 'Saturday' %}'],
        dayNamesShort: ['{% trans 'Sun' %}', '{% trans 'Mon' %}', '{% trans 'Tue' %}', '{% trans 'Wed' %}',
            '{% trans 'Thu' %}', '{% trans 'Fri' %}', '{% trans 'Sat' %}'],
        weekNumberTitle: '{% trans 'Week' %} ',
        axisFormat: 'H:mm',
    });
});
</script>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        {% trans 'Planning' %}
        <small id="loading" style="display: none">{% trans 'Loading...' %}</small>
        {% if is_planner %}<a href="{% url 'apps.scheduling.views.event_add' %}" class="btn btn-primary pull-right">{% trans 'Add event' %}</a>{% endif %}
    </h1>
</div>
<div id="calendar"></div>
{% endblock %}
