{% extends 'base_app.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans 'Planning' %}{% endblock %}

{% block content %}
<div class="page-header clearfix">
    <h1 class="pull-left">
        {% trans 'Planning' %}
    </h1>
    {% if is_planner %}
    <div class="text-right">
        <a href="{% url 'apps.scheduling.views.event_add' %}" class="btn btn-primary pull-right">{% trans 'Add event' %}</a>
    </div>
    {% endif %}
</div>
<div class="panel-group" id="filters">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#filters" href="#filters_form">{% trans 'Filters' %}</a>
        </div>
        <div id="filters_form" class="panel-collapse collapse">
            <div class="panel-body">
                {% crispy filter_form %}
            </div>
        </div>
    </div>
</div>
{% block overview %}{% endblock %}
{% endblock %}
