{% extends 'scheduling/overview.html' %}
{% load i18n %}

{% block overview %}
{% if events %}
<div class="table-responsive">
    <table class="table table-hover table-condensed table-events">
        <thead>
            <tr>
                <th class="col-xs-1">{% trans 'Date' %}</th>
                <th class="col-xs-1">{% trans 'Time' %}</th>
                <th class="col-xs-1">{% trans 'Organization' %}</th>
                <th class="col-xs-1">{% trans 'Location' %}</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Kegs' %}</th>
                <th>{% trans 'IVA' %}</th>
                <th>{% trans 'Bartenders' %}</th>
                {% if is_tender %}<th></th>{% endif %}
                {% if is_planner or is_tender %}<th class="col-xs-2"></th>{% endif %}
            </tr>
        </thead>
        <tbody>
            {% for e in events %}
            <tr{% if e.option %} class="tr-muted"{% endif %}>
                <td>
                    {% if e.starts_at|date == e.ends_at|date %}
                        {{ e.starts_at|date:"D d b" }}
                    {% else %}
                        {{ e.starts_at|date:"D d b" }}<br />
                        {{ e.ends_at|date:"D d b" }}
                    {% endif %}
                </td>
                <td>
                    {% if e.starts_at|date == e.ends_at|date %}
                        {{ e.starts_at|time:"TIME_FORMAT" }} - {{ e.ends_at|time:"TIME_FORMAT" }}
                    {% else %}
                        {{ e.starts_at|time:"TIME_FORMAT" }}<br />
                        {{ e.ends_at|time:"TIME_FORMAT" }}
                    {% endif %}
                </td>
                <td>{{ e.organizer }}</td>
                <td>
                    {% for location in e.location.all %}
                        {{ location }}{% if not forloop.last %}<br />{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if e.organizer == request.organization and is_planner %}
                        <a href="{% url 'apps.scheduling.views.event_show' e.pk %}">{{ e.name }}</a>
                    {% else %}
                        {{ e.name }}
                    {% endif %}
                </td>
                <td>{{ e.kegs|default:'&mdash;' }}</td>
                <td>
                    {% if e.needs_iva %}
                    {% if e.meets_iva_requirement %}
                    <i class="icon-alexia-ok"></i>
                    {% else %}
                    <i class="icon-alexia-notok"></i>
                    {% endif %}
                    {% else %}
                    &mdash;
                    {% endif %}
                </td>
                <td id="assigned_bartenders_{{ e.pk }}">
                    {% include 'scheduling/partials/assigned_bartenders.html' with e=e %}
                </td>
                {% if is_tender %}
                <td>
                    {% if not e.is_closed and request.organization in e.participants.all %}
                    <select class="bartender_availability form-control" data-event-id="{{ e.pk }}">
                        <option value="-1">---</option>
                        {% for a in availabilities %}
                            <option value="{{ a.pk }}"{% for ba in bartender_availabilities %}{% if ba.event_id == e.pk and ba.availability_id == a.pk %} selected="selected"{% endif %}{% endfor %}>{{ a.name }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </td>
                {% endif %}
                {% if is_tender or is_planner %}
                <td>
                    <div class="btn-group btn-group-sm">
                    {% if is_planner %}
                    {% if e.organizer == request.organization %}
                    <a class="btn btn-default" href="{% url 'apps.scheduling.views.event_edit' e.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-danger" href="{% url 'apps.scheduling.views.event_delete' e.pk %}"><i class="glyphicon glyphicon-trash"></i></a>
                    {% endif %}
                    {% endif %}
                    {% if is_tender and e.can_be_opened and e in events_tending %}
                    <a class="btn btn-primary" href="{% url 'apps.juliana.views.juliana' e.pk %}">{% trans 'Kassa' %}</a>
                    {% endif %}
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p id="no-events-message">{% blocktrans with dt_range_start|date:"l j F" as s and dt_range_end|date:"l j F" as e %}No events have been planned from {{ s }} until {{ e }}.{% endblocktrans %}</p>
{% endif %}
{% endblock overview %}
