{% extends 'base_app.html' %}
{% load i18n %}

{% block head %}
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
{% endblock %}

{% block content %}
{% for event in events %}
<div class="clearfix" style="height: 48px; border-bottom: 1px solid #eee; padding-top: 4px">
    <p>
        {{ event.name }}<br>
        <span class="muted">{{ event.starts_at }}, {% for location in event.location.all %}{{ location }}{% if not forloop.last %} + {% endif %}{% endfor %}</span>
    </p>
</div>
{% endfor %}
{% endblock %}

