{% extends 'base_app.html' %}

{% block title %}{{ consumptionform.event }} {% trans 'consumption form' %}{% endblock title %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>
            {{ consumptionform }}
            <div class="pull-right">
                {% if is_foundation_manager %}
                <a class="btn btn-warning" href="{% url 'dcf' consumptionform.event.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    {% trans 'Modify' %}
                </a>
                {% endif %}
                <a class="btn btn-default" href="{% url 'consumptionform_pdf' consumptionform.pk %}">
                    <span class="glyphicon glyphicon-print"></span>
                    {% trans 'PDF' %}
                </a>
            </div>
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>{% trans 'Details' %}</h3>
            <table class="table table-bordered">
                <tr>
                    <th class="col-xs-3">{% trans 'Date' %}</th>
                    <td class="col-xs-9">{{ consumptionform.event.starts_at|date:"l j F" }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Location' %}</th>
                    <td>{{ consumptionform.event.location.all|join:', ' }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Organizer' %}</th>
                    <td>{{ consumptionform.event.organizer }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Status' %}</th>
                    <td>
                        {% if consumptionform.is_completed %}
                        <span class="text-success">{% trans 'Completed' %}</span>
                        {% else %}
                        <span class="text-danger">{% trans 'Pending' %}</span>
                        {% endif %}
                    </td>
            </table>
        </div>
        <div class="col-sm-6">
            {% if consumptionform.is_completed %}
            <h3>{% trans 'Signed off by' %}</h3>
            <p>
                {{ consumptionform.completed_by.get_full_name }}
                {% trans 'on' %}
                {{ consumptionform.completed_at|date:"l j F Y" }}
                {% trans 'at' %}
                {{ consumptionform.completed_at|date:"H:i"}}
            </p>
            {% endif %}
            {% if consumptionform.comments %}
            <h3>{% trans 'Comments' %}</h3>
            {{ consumptionform.comments|linebreaks }}
            {% endif %}
        </div>
    </div>
    <h2>Verbruik</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-2"></th>
                    <th class="col-xs-2">{% trans 'Kegs changed' %}</th>
                    <th class="col-xs-2">{% trans 'Flowmeter' %}</th>
                    <th class="col-xs-2">{% trans 'Consumption' %}</th>
                    <th class="col-xs-2">{% trans 'Weight' %}</th>
                    <th class="col-xs-2">{% trans 'Consumption' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for entry in consumptionform.weightentry_set.all %}
                <tr>
                    <td>{{ entry.product }}</td>
                    <td>{{ entry.kegs_changed }}</td>
                    <td>
                        {% if entry.product.has_flowmeter %}
                        {{ entry.flow_start }} &#8467;
                        &mdash;
                        {% if entry.flow_end %}
                        {{ entry.flow_end }} &#8467;
                        {% else %}
                        <img src="{% static 'img/pending.gif' %}">
                        {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if entry.flow_total %}
                        {{ entry.flow_total }} &#8467;
                        {% else %}
                        <img src="{% static 'img/pending.gif' %}">
                        {% endif %}
                    </td>
                    <td>
                        {{ entry.start_weight }} kg
                        &mdash;
                        {% if entry.end_weight %}
                        {{ entry.end_weight }} kg
                        {% else %}
                        <img src="{% static 'img/pending.gif' %}">
                        {% endif %}
                    </td>
                    <td>
                        {% if entry.total %}
                        {{ entry.total }} kg
                        {% else %}
                        <img src="{% static 'img/pending.gif' %}">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for entry in consumptionform.unitentry_set.all %}
                <tr>
                    <td>{{ entry.product }}</td>
                    <td colspan="4"></td>
                    <td>{{ entry.amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
