{% extends 'base_app.html' %}

{% block title %}{% trans 'Consumption forms' %}{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>
         {% trans 'Consumption forms' %}
         {% if is_foundation_manager %}
         <div class="pull-right">
             <a class="btn btn-default" href="{% url 'consumptionform_export' %}">
                 <span class="glyphicon glyphicon-print"></span>
                 {% trans 'Export' %}
             </a>
         </div>
         {% endif %}
    </h1>
</div>
<div class="panel-group" id="missing">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#missing" href="#missing_contents">{% trans 'Events without form last 30 days' %}</a>
        </div>
        <div id="missing_contents" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                   <thead>
                        <tr>
                            <th>{% trans 'Date' %}</th>
                            <th>{% trans 'Organization' %}</th>
                            <th>{% trans 'Location' %}</th>
                            <th>{% trans 'Event' %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for event in missing_dcf_list %}
                        <tr>
                            <td>{{ event.starts_at|date:"l j F" }}</td>
                            <td>{{ event.organizer }}</td>
                            <td>{{ event.location.all|join:", " }}</td>
                            <td>{{ event }}</td>
                            <td>
                                <a href="{% url 'dcf' event.pk %}" class="btn btn-xs btn-warning">
                                    <span class="glyphicon glyphicon glyphicon-pencil"></span>
                                    {% trans 'Fill in' %}
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">{% trans 'No missing forms. Hurray!' %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Organization' %}</th>
                <th>{% trans 'Location' %}</th>                
                <th>{% trans 'Event' %}</th>
                <th>{% trans 'Status' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for consumptionform in consumptionform_list %}
            <tr>
                <td>{{ consumptionform.event.starts_at|date:"l j F" }}</td>
                <td>{{ consumptionform.event.organizer }}</td>
                <td>{{ consumptionform.event.location.all|join:", " }}</td>
                <td>
                    <a href="{% url 'consumptionform_detail' consumptionform.pk %}">
                        {{ consumptionform.event }}
                    </a>
                </td>
                <td>
                    {% if consumptionform.is_completed %}
                    <span class="text-success">{% trans 'Completed' %}</span>
                    {% else %}
                    <span class="text-danger">{% trans 'Pending' %}</span>
                    <a href="{% url 'dcf' consumptionform.event.pk %}" class="btn btn-xs btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    {% endif %}
                    {% if consumptionform.comments %}
                    <abbr title="{% trans 'Has comments' %}">
                        <span class="glyphicon glyphicon-comment"><span>
                    </abbr>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-xs btn-default" href="{% url 'consumptionform_pdf' consumptionform.pk %}">
                        <span class="glyphicon glyphicon-cloud-download"></span>
                        {% trans 'PDF' %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include 'partials/pagination.html' %}
{% endblock %}
