{% extends 'base_app.html' %}

{% block title %}{% trans 'Consumption products' %}{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>
         {% trans 'Consumption products' %}
         <div class="pull-right">
             <a class="btn btn-primary" href="{% url 'weightconsumptionproduct_create' %}">
                 <span class="glyphicon glyphicon-plus"></span>
                 {% trans 'Add (KG)' %}
             </a>
             <a class="btn btn-primary" href="{% url 'consumptionproduct_create' %}">
                 <span class="glyphicon glyphicon-plus"></span>
                 {% trans 'Add (CE)' %}
             </a>
         </div>
    </h1>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Type' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for consumptionproduct in consumptionproduct_list %}
            <tr>
                <td>{{ consumptionproduct.name }}</td>
                <td>
                    {% if consumptionproduct.is_weighted %}
                    <span class="label label-danger">KG</span>
                    {% if consumptionproduct.weighted.has_flowmeter %}
                    <span class="label label-default">Flowmeter</span>
                    {% endif %}
                    {% else %}
                    <span class="label label-primary">CE</span>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-xs btn-default" href="{% if consumptionproduct.is_weighted %}{% url 'weightconsumptionproduct_update' consumptionproduct.pk %}{% else %}{% url 'consumptionproduct_update' consumptionproduct.pk %}{% endif %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {% trans 'Modify' %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
