{% extends 'base.html' %}
{% load crispy_forms_field %}

{% block title %}{% trans 'Consumption form' %}{% endblock title %}

{% block extrajs %}<script src="{% static 'js/dcf.js' %}"></script>{% endblock extrajs %}

{% block body %}
<form method="post" class="disable-on-change">
    {% csrf_token %}
    <div class="container">
        <div class="page-header">
            <h1>
                {% trans 'Digital consumption form' %}
                <small>{{ event }}</small>
            </h1>
        </div>
        {% include 'consumption/partials/weight_consumption.html' %}
        {% include 'consumption/partials/unit_consumption.html' %}
        <div class="well" id="comments">
        {% crispy_field form.comments %}
        </div>
        <div class="well text-right">
            <button class="btn btn-lg btn-default">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                {% trans 'Save' %}
            </button>
            <a href="{% url 'dcf-complete' event.pk %}" class="btn btn-lg btn-primary" id="complete">
                <span class="glyphicon glyphicon-pencil"></span>
                {% trans 'Complete form' %}
            </a>
        </div>
    </div>
</form>
{% endblock body %}
