<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <title>Foutmelding | Alexia</title>
    </head>
    <body style="background: #bbbbbb; font-size: 13px; font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;">
        <div style="width: 800px; margin: 50px auto 0px; padding: 5px 10px; color: black;">
            <p style="font-size: 200%; font-weight: bold; margin: 0">Alexia</p>
        </div>
        <div style="width: 800px; margin: 0px auto 10px; padding: 5px 10px; background: white; color: black;">
            <h1>Internal Server Error</h1>

            <p>Er is een fout opgetreden in de site. Hierdoor kunnen we de pagina die je probeert te bereiken niet tonen.</p>
            <p>We hebben hiervan een mailtje gehad en we gaan er mee aan de slag.</p>
            <p>
                <a style="color: black" href="/">Home</a>
                |
                <a style="color: black" href="javascript:window.history.back()">Vorige pagina</a>
            </p>

            <hr>

            <p lang="en">An internal error occurred on the site. Therefore we cannot show the page you requested.</p>
            <p lang="en">We did receive a mail regarding this and are going to solve it.</p>
            <p lang="en">
                <a style="color: black" href="/">Home</a>
                |
                <a style="color: black" href="javascript:window.history.back()">Go back</a>
            </p>
        </div>
    </body>
</html>
