{% load compress %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <script>var LOCALE='{{ LANGUAGE_CODE }}';</script>
        <title>{% block title %}{% endblock title %} | Alexia</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="icon" href="{% static 'img/favicon.png' %}">
        {% compress css %}
        {# Vendor #}
        <link rel="stylesheet" href="{% static 'css/bootstrap-3.3.7.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme-3.3.7.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker-1.6.4.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-timepicker-0.5.2.css' %}">
        <link rel="stylesheet" href="{% static 'css/fullcalendar-1.6.7.css' %}">
        {# Alexia #}
        <link rel="stylesheet" href="{% static 'css/application.css' %}">
        {% endcompress %}
    </head>
    <body>
        {% block body %}{% endblock body %}
        <hr>
        <footer>
            <div class="container">
                <div class="row text-center">
                    <a href="{% url 'about' %}">{% trans "Event management system Alexia" %}</a>
                    &mdash;
                    &copy; 2011-{% now 'Y' %}
                    <a href="https://www.inter-actief.net/">I.C.T.S.V. Inter-Actief</a>,
                    <a href="https://www.arago.utwente.nl/">S.V. Arago</a>, {% trans "and" %}
                    <a href="https://github.com/Inter-Actief/alexia/blob/main/CONTRIBUTORS.md">{% trans "individual contributors" %}</a>
                    &mdash;
                    <a href="https://github.com/Inter-Actief/alexia/blob/main/LICENSE.md">BSD 3-clause License</a>
                    {% if not request.user.is_authenticated %}
                    &mdash;
                    <a href="{% url 'login' %}">{% trans 'Local login' %}</a>
                    {% endif %}
                </div>
            </div>
        </footer>
        {% compress js %}
        {# Vendor #}
        <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
        <script src="{% static 'js/bootstrap-3.3.7.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker-1.6.4.js' %}"></script>
        <script src="{% static 'js/bootstrap-timepicker-0.5.2.js' %}"></script>
        <script src="{% static 'js/Chart-2.4.0.js' %}"></script>
        <script src="{% static 'js/fullcalendar-1.6.7.js' %}"></script>
        {# Alexia #}
        <script src="{% static 'js/application.js' %}"></script>
        {% endcompress %}
        {% block extrajs %}{% endblock extrajs %}
    </body>
</html>
