{% extends 'base.html' %}
{% load menuitem %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#alexia-navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'event-list' %}">
            <img src="{% static 'img/alexia.svg' %}" alt="Alexia">
        </a>
        <div class="collapse navbar-collapse" id="alexia-navbar-collapse">
            <ul class="navbar-nav">
                {% menuitem 'apps.scheduling.views' class='nav-item dropdown' %}
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {% trans 'Planning' %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'event-list' %}">{% trans 'List' %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'calendar-schedule' %}">{% trans 'Calendar' %}</a></li>
                        {% if is_tender %}
                        <li><a class="dropdown-item" href="{% url 'bartender-schedule' %}">{% trans 'Personal schedule' %}</a></li>
                        {% endif %}
                        {% if is_tender or is_manager %}
                        <li><a class="dropdown-item" href="{% url 'event_matrix' %}">{% trans 'Availability matrix' %}</a></li>
                        {% endif %}
                        {% if is_manager %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'availability_list' %}">{% trans 'Availabilities' %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'mailtemplate_list' %}">{% trans 'Mail templates' %}</a></li>
                        {% endif %}
                    </ul>
                {% endmenuitem %}
                {% if is_manager %}
                {% menuitem 'apps.organization.views' class='nav-item' %}
                    <a class="nav-link" href="{% url 'memberships' %}">
                        {% trans 'Users' %}
                    </a>
                {% endmenuitem %}
                {% menuitem 'apps.billing.views' class='nav-item dropdown' %}
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {% trans 'Billing' %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'productgroup_list' %}">{% trans 'Product groups' %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'pricegroup_list' %}">{% trans 'Price groups' %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'product_list' %}">{% trans 'Products' %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'sellingprice_list' %}">{% trans 'Price matrix' %}</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'orders' %}">{% trans 'Orders' %}</a></li>
                    </ul>
                {% endmenuitem %}
                {% menuitem 'apps.consumption.views.ConsumptionForm' class='nav-item' %}
                    <a class="nav-link" href="{% url 'consumptionform_list' %}">
                        {% trans 'Consumption' %}
                    </a>
                {% endmenuitem %}
                {% endif %}
                {% if is_foundation_manager %}
                {% menuitem 'apps.consumption.views' class='nav-item dropdown' %}
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {% trans 'Management' %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'consumptionproduct_list' %}">{% trans 'Consumption products' %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'consumptionform_list' %}">{% trans 'Consumption forms' %}</a></li>
                    </ul>
                {% endmenuitem %}
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% for code, name in LANGUAGES %}
                {% if LANGUAGE_CODE != code %}
                <li class="nav-item">
                    <form id="set-lang-{{ code }}" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.path }}">
                        <input type="hidden" name="language" value="{{ code }}">
                    </form>
                    <a class="nav-link" href="#" title="{{ name }}" data-set-lang="{{ code }}">
                        {% with 'img/icon/flag_'|add:code|add:'.png' as flag_url %}
                        <img src="{% static flag_url %}" alt="{{ name }}">
                        {% endwith %}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                {% menuitem 'apps.general.views.HelpView' class='nav-item' %}
                    <a class="nav-link" href="{% url 'help' %}">
                        {% trans 'Help' %}
                    </a>
                {% endmenuitem %}
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {{ current_organization.name|default:_('No organization') }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        {% for organization in organizations %}
                            {% if organization.is_active or user.profile.is_foundation_manager or user.is_superuser %}
                            <li>
                                <a class="dropdown-item{% if current_organization == organization %} active{% endif %}" href="{% url 'change-current-organization' organization.slug %}?next={{ request.path }}">{{ organization }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% menuitem 'apps.profile.views' class='nav-item dropdown' %}
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {{ user.get_full_name|default:user }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a class="dropdown-item" href="{% url 'profile' %}">{% trans 'My profile' %}</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'oidc_logout' %}">{% trans 'Log out' %}</a>
                        </li>
                    </ul>
                {% endmenuitem %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'oidc_authentication_init' %}">{% trans 'Login with UTwente' %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
{% block content %}{% endblock content %}
</div>
{% endblock body %}
