{% load i18n compress %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% trans 'Home' %}{% endblock title %} | Alexia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Alexia drink management">
        <meta name="author" content="Alexia">
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/apple-touch-icon.png">
        {% compress js %}
        <script src="{{ STATIC_URL }}js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/jquery-ui-1.11.4.custom.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-3.3.5.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-datepicker-1.4.0.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-datepicker-1.4.0.nl.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/bootstrap3-timepicker2-1.0.0.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/fullcalendar.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/jquery.qtip.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/application.js" type="text/javascript" charset="utf-8"></script>
        {% block extrajs %}{% endblock %}
        {% endcompress %}
        {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-3.3.5.min.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-3.3.5-theme.min.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/application.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datepicker3-1.4.0.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap3-timepicker2-1.0.0.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/fullcalendar.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.qtip.min.css" type="text/css" charset="utf-8">
        {% endcompress %}
        {% block head %}{% endblock head %}
      </head>
      <body>
        {% block body %}{% endblock body %}
        <hr>
        <footer>
            <div class="container">
                <div class="row text-center">
                    {% url 'apps.general.views.about' as about_url %}
                    {% blocktrans  with about_url=about_url %}
                    <a href="{{ about_url }}">Event management system Alexia</a>
                    &mdash;
                    &copy; 2011-2015 of
                    <a href="http://www.inter-actief.net/">I.C.T.S.V. Inter-Actief</a> and
                    <a href="https://github.com/Inter-Actief/alexia/blob/master/CONTRIBUTORS.md">
                        individual contributors
                    </a>
                    &mdash;
                    <a href="https://github.com/Inter-Actief/alexia/blob/master/LICENSE.md">
                        BSD 3-clause License
                    </a>
                    {% endblocktrans %}
                </div>
            </div>
        </footer>
    </body>
</html>
