{% extends 'base.html' %}
{% load menuitem %}

{% block body %}
<div class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alexia-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'event-list' %}">
                <img src="{% static 'img/alexia.svg' %}" alt="Alexia">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="alexia-navbar-collapse">
            <ul class="nav navbar-nav">
                {% menuitem 'apps.scheduling.views' class='dropdown' %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans 'Planning' %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'event-list' %}">{% trans 'List' %}</a></li>
                        <li><a href="{% url 'calendar-schedule' %}">{% trans 'Calendar' %}</a></li>
                        {% if is_tender %}
                        <li><a href="{% url 'bartender-schedule' %}">{% trans 'Personal schedule' %}</a></li>
                        <li><a href="{% url 'event_matrix' %}">{% trans 'Availability matrix' %}</a></li>
                        {% endif %}
                        {% if is_manager %}
                        <li class="divider"></li>
                        <li><a href="{% url 'availability_list' %}">{% trans 'Availabilities' %}</a></li>
                        <li><a href="{% url 'mailtemplate_list' %}">{% trans 'Mail templates' %}</a></li>
                        {% endif %}
                    </ul>
                {% endmenuitem %}
                {% if is_manager %}
                {% menuitem 'apps.organization.views' %}
                    <a href="{% url 'memberships' %}">
                        {% trans 'Users' %}
                    </a>
                {% endmenuitem %}
                {% menuitem 'apps.billing.views' class='dropdown' %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans 'Billing' %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'productgroup_list' %}">{% trans 'Product groups' %}</a></li>
                        <li><a href="{% url 'pricegroup_list' %}">{% trans 'Price groups' %}</a></li>
                        <li><a href="{% url 'product_list' %}">{% trans 'Products' %}</a></li>
                        <li><a href="{% url 'sellingprice_list' %}">{% trans 'Price matrix' %}</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'orders' %}">{% trans 'Orders' %}</a></li>
                    </ul>
                {% endmenuitem %}
                {% menuitem 'apps.consumption.views.ConsumptionForm' %}
                    <a href="{% url 'consumptionform_list' %}">
                        {% trans 'Consumption' %}
                    </a>
                {% endmenuitem %}
                {% endif %}
                {% if is_foundation_manager %}
                {% menuitem 'apps.consumption.views' class='dropdown' %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans 'Management' %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'consumptionproduct_list' %}">{% trans 'Consumption products' %}</a></li>
                        <li><a href="{% url 'consumptionform_list' %}">{% trans 'Consumption forms' %}</a></li>
                    </ul>
                {% endmenuitem %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% for code, name in LANGUAGES %}
                {% if LANGUAGE_CODE != code %}
                <li>
                    <form id="set-lang-{{ code }}" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.path }}">
                        <input type="hidden" name="language" value="{{ code }}">
                    </form>
                    <a href="#" title="{{ name }}" data-set-lang="{{ code }}">
                        {% with 'img/icon/flag_'|add:code|add:'.png' as flag_url %}
                        <img src="{% static flag_url %}" alt="{{ name }}">
                        {% endwith %}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                {% menuitem 'apps.general.views.HelpView' %}
                    <a href="{% url 'help' %}">
                        {% trans 'Help' %}
                    </a>
                {% endmenuitem %}
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ current_organization.name|default:_('No organization') }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for organization in organizations %}
                        <li{% if current_organization == organization %} class="active"{% endif %}>
                            <a href="{% url 'change-current-organization' organization.slug %}?next={{ request.path }}">{{ organization }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="divider-vertical"></li>
                {% menuitem 'apps.profile.views' class='dropdown' %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ user.get_full_name|default:user }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'profile' %}">{% trans 'My profile' %}</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'logout' %}">{% trans 'Log out' %}</a>
                        </li>
                    </ul>
                {% endmenuitem %}
                {% else %}
                <li>
                    <a href="{% url 'saml2_login' %}">{% trans 'Login with UTwente' %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="container">
{% block content %}{% endblock content %}
</div>
{% endblock body %}
