<div class="well">
    <div class="row">
        <div class="col-sm-2 text-center">
            <img src="{% static 'img/bottle.svg' %}" width="150">
            <h3>{% trans 'By units' %}</h3>
        </div>
        <div class="col-sm-10 dynamic-formset" data-prefix="{{ unit_form.prefix }}">
            {{ unit_form.management_form }}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="30%">{% trans 'Product' %}</th>
                            <th width="60%">{% trans 'Units consumed' %}</th>
                            <th width="10%" colspan="3">{% trans 'Delete' %}</th>
                        </tr>
                    </thead>
                    {% include 'consumption/partials/formset_form.html' with formset=unit_form %}
                </table>
            </div>
        </div>
    </div>
</div>
