{% load crispy_forms_field %}

<div class="well">
    <div class="row">
        <div class="col-sm-2 text-center">
            <img src="{% static 'img/tap.svg' %}" width="150">
            <h3>{% trans 'By weight' %}</h3>
        </div>
        <div class="col-sm-10 dynamic-formset" data-prefix="{{ weight_form.prefix }}">
            {{ weight_form.management_form }}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="30%">{% trans 'Product' %}</th>
                            <th width="10%">{% trans 'Initial weight' %}</th>
                            <th width="10%">{% trans 'Kegs changed' %}</th>
                            <th width="10%">{% trans 'Final weight' %}</th>
                            <th width="15%">{% trans 'Flowmeter start' %}</th>
                            <th width="15%">{% trans 'Flowmeter end' %}</th>
                            <th width="10%" colspan="3">{% trans 'Delete' %}</th>
                        </tr>
                    </thead>
                    {% include 'consumption/partials/formset_form.html' with formset=weight_form %}
                </table>
            </div>
        </div>
    </div>
</div>
