<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
<!--
This Internal Server Error does not use any static files or template tags
because the error could be in (the configuration of) one of them.
This would create a chain of Internal Server Error with unexpected and
hard to debug results.
-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Internal Server Error</title>
    </head>
    <body style="background: #bbbbbb; font-size: 13px; font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;">
        <div style="width: 800px; margin: 50px auto 0px; padding: 5px 10px; color: black;">
            <p style="font-size: 200%; font-weight: bold; margin: 0">Alexia</p>
        </div>
        <div style="width: 800px; margin: 0px auto 10px; padding: 5px 10px; background: white; color: black;">
            <h1>Internal Server Error</h1>

            <p>
                Er is een fout opgetreden in de site. Hierdoor kunnen we de pagina die je probeert te bereiken niet tonen.
            </p>

            <p>
                We hebben hiervan een mailtje gehad en we gaan er mee aan de slag.
            </p>

            <p>
                <a style="color: black" href="/">Home</a> |
                <a style="color: black" href="javascript:window.history.back()">Vorige pagina</a>
            </p>

            <hr />

            <p lang="en">
                An internal error occurred on the site. Therefore we cannot show the page you requested.
            </p>

            <p lang="en">
                We did receive a mail regarding this and are going to solve it.
            </p>

            <p lang="en">
                <a style="color: black" href="/">Home</a> |
                <a style="color: black" href="javascript:window.history.back()">Go back</a>
            </p>
        </div>
    </body>
</html>
