{% load compress i18n static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% trans 'Home' %}{% endblock title %} | Alexia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Alexia drink management">
        <meta name="author" content="Alexia">
        <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
        {% compress js %}
        {# Vendor #}
        <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
        <script src="{% static 'js/bootstrap-3.3.7.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker-1.4.0.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker-1.4.0.nl.min.js' %}"></script>
        <script src="{% static 'js/bootstrap3-timepicker2-1.0.0.js' %}"></script>
        <script src="{% static 'js/Chart-2.4.0.js' %}"></script>
        <script src="{% static 'js/fullcalendar-1.6.7.js' %}"></script>
        {# Alexia #}
        <script src="{% url 'javascript-catalog' %}"></script>
        <script src="{% static 'js/application.js' %}"></script>
        {% endcompress %}
        {% compress css %}
        {# Vendor #}
        <link rel="stylesheet" href="{% static 'css/bootstrap-3.3.7.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme-3.3.7.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3-1.4.0.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap3-timepicker2-1.0.0.css' %}">
        <link rel="stylesheet" href="{% static 'css/fullcalendar-1.6.7.css' %}">
        {# Alexia #}
        <link rel="stylesheet" href="{% static 'css/application.css' %}">
        {% endcompress %}
        {% block head %}{% endblock head %}
      </head>
      <body>
        {% block body %}{% endblock body %}
        <hr>
        <footer>
            <div class="container">
                <div class="row text-center">
                    <a href="{% url 'about' %}">{% trans "Event management system Alexia" %}</a>
                    &mdash;
                    &copy; 2011-2016
                    <a href="http://www.inter-actief.net/">I.C.T.S.V. Inter-Actief</a>,
                    <a href="https://www.arago.utwente.nl/">S.V. Arago</a>, {% trans "and" %}
                    <a href="https://github.com/Inter-Actief/alexia/blob/master/CONTRIBUTORS.md">{% trans "individual contributors" %}</a>
                    &mdash;
                    <a href="https://github.com/Inter-Actief/alexia/blob/master/LICENSE.md">BSD 3-clause License</a>
                </div>
            </div>
        </footer>
    </body>
</html>
